/* plugin_listandedit */

@import "../plugin_framework/framework";

/**structure**/
#listpane                          {width:35%;
                                    height:600px;
                                    overflow:auto;
                                    padding:0;
                                    position:relative;

    li                             {display:block;
                                    list-style-type:none;
                                    padding:0 1em;
        a                          {height:2.25em;
                                    line-height:2.25em;
                                    font-size:.9em;}
        }
    }

#viewpane                          {float:right;
                                    overflow:auto;
                                    width: 65%;
                                    padding:1.5em;

    .plugin_listandedit_duplicate  {position:absolute;
                                    display:block;
                                    right:1em;
                                    top:0;
                                    background-color:#607890;
                                    color:white;
                                    padding:0.25em 1em;
                                    font-size:0.8em;}

        &:hover                    {background-color:#003366;
                                    -moz-transition:all 800ms ease-out;
                                    -webkit-transition:all 800ms ease-out;
                                    transition:all 800ms ease-out;}
    form                           {
        table,
        li div                     {width: 100%;
                                    display: block;
            textarea               {width: 100%;
                                    padding:1em;}

            form                   {background-color:#eee;}
            input[type=text],
            select option          {padding-left:.5em;}
            input[type=submit]     {position: absolute;
                                    bottom:-10px;
                                    right:0;
                                    width:65%;
                                    text-align: center;
                                    opacity:0.7;
                                    margin-left:0;
                                    margin-right:0;
                                    .transition();
                &:hover            {opacity:1;
                                    bottom:0px;
                                    .transition();}
                                    }
            }
        }
    }

/**base theme - depends on mixins and vars from plugin_framework**/

#listpane                          {background:#f5f5f5;
                                    border:1px solid #eee;

    ul                             {padding-left:0;

        li                         {background-color:#fff;
                                    background-color:#eee;
                                    background-image:-moz-linear-gradient(#f5f5f5, #eee);
                                    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
                                    background-image:-o-linear-gradient(#f5f5f5, #eee);
                                    background-image:-ms-linear-gradient(#f5f5f5, #eee);
                                    border-bottom: 1px solid #ccc;
                                    border-top:1px solid #fff;
            a,
            a:link,
            a:visited              {color:#607890;}

            &:hover                    {background-color:#fff;
                                        background-image:none;
                a                      {color:#003366;}
                }
            }
        }
    }

#viewpane                          {background:#f5f5f5;
                                    border:1px solid #eee;

    label                          {color:#ccc;}
    form                           {padding:0;
                                    margin:0;}
    &:before                       {content:' ';
                                    .tapered-shadow;}
    }

#page .list_control                {padding:0;
                                    background: @greya;
                                    border-right:1px solid @grey8;
                                    border-left:1px solid @grey8;

    h2                             {font-weight:normal;
                                    color:@greye;
                                    margin-right:@lineheight;
                                    margin-left:@lineheight;
                                    margin-top:0;
                                    line-height: @lineheight3;
                                    display:inline-block;
                                    height:@lineheight3;
                                    font-size:@typeheight2;
                                    .text-shadow(0,0,3px, rgba(0,0,0,0.1));}

    a                              {float:right;
                                    color:@mist;
                                    display:block;
                                    line-height:@lineheight3;
                                    height:@lineheight3;
                                    margin-right:@lineheight;

        &:hover                    {color:@white;
                                    .text-shadow(0);}
        }
    }

