/**structure**/

#viewpane {
    float:right;
    width:60%;
    overflow:auto;
}

#listpane {
    width:30%;
    height:600px;
    overflow:auto;
    /*min-width:140px;*/
}

/**theme**/

#listpane {
    background:#f5f5f5;
    border:1px solid #eee;
    padding:0;
}

#listpane ul {
    padding-left:0;
}

#listpane li {
    background-color:#fff;
    list-style-type:none;
    line-height:20px;
    height:20px;
    padding-left:14px;
}

#listpane li:nth-child(2n){
    background-color:#eee;
}

#viewpane {
    background:#f5f5f5;
    border:1px solid #eee;
}
