/**structure**/
#viewpane {
    float:right;
    position:relative;
    overflow:auto;
    width: 65%;
    padding:1.5em;
}

#listpane {
    width:35%;
    height:600px;
    overflow:auto;
    padding:0;
    position:relative;
}

#listpane li {
    display:block;
    list-style-type:none;
    padding:0 1em;
}

#listpane li a {
    height:2.25em;
    line-height:2.25em;
    font-size:.9em;
}
   
#viewpane table, #viewpane li div {
    width: 100%;
    display: block;
}

#viewpane textarea {
    width: 90%;
}

#viewpane form form {
  background-color:#eee;
}

#viewpane input[type=text],
#viewpane select option {
    padding-left:.5em;
}

/**theme**/

#listpane {
    background:#f5f5f5;
    border:1px solid #eee;
}

#listpane ul {
    padding-left:0;
}

#listpane li {
    background-color:#fff;
    background-color:#eee;
    background-image:-moz-linear-gradient(#f5f5f5, #eee);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
    background-image:-o-linear-gradient(#f5f5f5, #eee);
    background-image:-ms-linear-gradient(#f5f5f5, #eee);
    border-bottom: 1px solid #ccc;
    border-top:1px solid #fff;
}

#listpane a, #listpane a:link, #listpane a:visited {
    color:#607890;
}

#listpane li:hover{
    background-color:#fff;
    background-image:none;
}

#listpane li:hover a {
    color:#003366;
}
 
#viewpane {
    background:#f5f5f5;
    border:1px solid #eee;
}

#viewpane label {
    color:#ccc;
}
