<section class="oops">

<p>Well that's strange! I suddenly forget what we were talking about! I must have run into an error. But don't worry. I'll send a message to the administrators of our little town and I'm sure they'll sort it out shortly.</p>

<p>If you would like to try exploring again in the town you can click here:
{{=A('Back to town', _class='back-to-town btn btn-success', _href=URL('exploring', 'index'))}}. If I get really forgetful and just keep bringing you in circles, maybe you should let me rest and see whether I'm more coherent later on. Thanks!</p>

</section>
