<p>Well that's strange! I suddenly feel sick and disoriented.
I must have run into an error. But don't worry. I'll send a message to the 
administrators of our little town and I'm sure they'll sort it out shortly.</p>

<p>If you would like to try exploring again in the town you can click here:
{{=A('Back to town', _href=URL('exploring', 'index'))}}. If I'm really sick, and just keep bringing you in circles, then maybe you should let me rest and see whether I'm 
more coherent later on. Thanks!</p>
