{{extend 'layout.html'}}

<div id='user_profile_tabs' class="tabs">

<ul class="tab_row">
    <li><a href="#web2py_user_form">My info</a></li>
    <li><a href="#tab_stats">How am I doing?</a></li>
    <li><a href="#tab_calendar">My activity</a></li>
    <li><a href="#tab_bug_reports">My bug reports</a></li>
</ul>

<div id="web2py_user_form" class="tab active">
{{=form}}
{{if request.args(0)=='login':}}
    {{if not 'register' in auth.settings.actions_disabled:}}
        <br/><a href="{{=URL(r=request,args='register')}}">register</a>
    {{pass}}
    {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
        <br/><a href="{{=URL(r=request,args='request_reset_password')}}">lost password</a>
    {{pass}}
{{pass}}
</div>

{{if request.args(0) == 'profile':}}

<div id='tab_stats' class="tab">
<table cellspacing='0' class='summary_stats'>
    <tr>
        <td class='total_len'>{{=total_len}}</td>
        <td>distinct questions attempted so far.</td>
    </tr>
    <tr>
        <td class='total_cat4'>{{=total_cat4}}</td>
        <td>questions mastered (<span class='percent_cat4'>{{=percent_cat4}}</span>% of questions tried)</td>
    </tr>
    <tr>
        <td class='total_cat3'>{{=total_cat3}}</td>
        <td>making very good progress (<span class='percent_cat3'>{{=percent_cat3}}</span>% of questions tried)</td>
    </tr>
    <tr>
        <td class='total_cat2'>{{=total_cat2}}</td>
        <td>have made a good start (<span class='percent_cat2'>{{=percent_cat2}}</span>% of questions tried)</td>
    </tr>
    <tr>
        <td class='total_cat1'>{{=total_cat1}}</td>
        <td>need some more attention (<span class='percent_cat1'>{{=percent_cat1}}</span>% of questions tried)</td>
    </tr>
    <tr>
        <td colspan='2'>Average score <span class='score_avg'>{{=score_avg}}%</span></td>
    </tr>
</table>

</div>

<div class='tab' id='tab_calendar'>
Questions answered each day:

{{=XML(htmlcal)}}
</div>

<div class='tab' id='tab_bug_reports'>

<table>
<tr>
<th>question</th>
<th>your answer</th>
<th>submitted</th>
<th>evaluation</th>
<th>instructor's comments</th>
</tr>
{{for b in blist:}}
<tr>
{{for v in b:}}
    <td>{{=v}}</td>
{{pass}}
</tr>
{{pass}}
</table>

</div>


{{pass}}

</div>

<script language="javascript">
<!--
 jQuery("#web2py_user_form input:visible:enabled:first").focus();
 $('.tab_row a').click(function(){
     l = $(this).attr('href')
    $('.tabs .tab').each(function(){
        $(this).hide();
    })      
    $('.tabs .tab' + l).show();
    $('.tab_row li').each(function(){
        $(this).removeClass('active');
    });
    $(this).parents('li').addClass('active'); 
    return false;
 })
//-->
</script>
