{{extend 'layout.html'}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<div id="web2py_user_form">
{{=form}}
{{if request.args(0)=='login':}}
{{if not 'register' in auth.settings.actions_disabled:}}
<br/><a href="{{=URL(r=request,args='register')}}">register</a>
{{pass}}
{{if not 'request_reset_password' in auth.settings.actions_disabled:}}
<br/><a href="{{=URL(r=request,args='request_reset_password')}}">lost password</a>
{{pass}}
{{pass}}
</div>

{{if request.args(0) == 'profile':}}
<h3>How Am I Doing?</h3>
<ul>
    <li>You have attempted {{=total_len}} questions so far.</li>
    <ul>
        <li>Questions mastered: {{=total_cat4}} ({{=percent_cat4}}% of questions tried)</li>
        <li>Making very good progress: {{=total_cat3}} ({{=percent_cat3}}% of questions tried)</li>
        <li>Working on it: {{=total_cat2}} ({{=percent_cat2}}% of questions tried)</li>
        <li>Need some more attention: {{=total_cat1}} ({{=percent_cat1}}% of questions tried)</li>
    </ul>
    <li>Average score so far: {{=score_avg}}</li>
</ul>
{{pass}}

<script language="javascript">
<!--
 jQuery("#web2py_user_form input:visible:enabled:first").focus();
//-->
</script>
