{{extend 'layout.html'}}

<div id='user_profile_tabs' class="tabs">

<ul class="tab_row">
    <li><a href="#web2py_user_form">My info</a></li>
    <li><a href="#tab_stats">How am I doing?</a></li>
    <li><a href="#tab_calendar">My activity</a></li>
    <li><a href="#tab_bug_reports">My bug reports</a></li>
</ul>

<div id="web2py_user_form" class="tab active">
{{=form}}

{{if request.args(0)=='login':}}
    {{if not 'register' in auth.settings.actions_disabled:}}
        <br/><a href="{{=URL(r=request,args='register')}}">register</a>
    {{pass}}
    {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
        <br/><a href="{{=URL(r=request,args='request_reset_password')}}">lost password</a>
    {{pass}}
{{pass}}
</div>

{{if request.args(0) == 'profile':}}

<div id='tab_stats' class="tab">

    <p>You are currently working on <span class='total_len'>{{=active['total']}}</span> grammar badges</p>
    <p>The most recent badges started are:
    <ul class='most_recent'>
        {{for k,v in active['latest'].iteritems():}}
            {{=LI(v)}}
        {{pass}}
    <ul>

<table cellspacing='0' class='summary_stats'>
    <tr>
        <td>mastered</td>
        <td class='total_cat4'>{{=len(cats[4])}}</td>
        <td>badges</td>
    </tr>
    <tr>
        <td>making very good progress on</td>
        <td class='total_cat3'>{{=len(cats[3])}}</td>
        <td>badges</td>
    </tr>
    <tr>
        <td>made a good start with</td>
        <td class='total_cat2'>{{=len(cats[2])}}</td>
        <td>badges</td>
    </tr>
    <tr>
        <td class='total_cat1'>{{=len(cats[1])}}</td>
        <td>badges just started or needing review</td>
        <td></td>
    </tr>
</table>

</div>

<div class='tab' id='tab_calendar'>
Questions answered each day:

{{=XML(cal)}}
</div>

<div class='tab' id='tab_bug_reports'>

<table>
<tr>
<th>question</th>
<th>your answer</th>
<th>submitted</th>
<th>evaluation</th>
<th>instructor's comments</th>
</tr>
{{for b in blist:}}
<tr>
{{for v in b:}}
    <td>{{=v}}</td>
{{pass}}
</tr>
{{pass}}
</table>

</div>


{{pass}}

</div>

<script language="javascript">
<!--
 $("#web2py_user_form input:visible:enabled:first").focus();
 $('#user_profile_tabs').tabs(); 
//-->
</script>
