{{extend 'layout.html'}}
<h2>{{=the_name}}</h2>
<h3>Summary Statistics</h3>
<ul>
    <li>You have attempted {{=total_len}} questions so far.</li>
    <li>Questions mastered: {{=total_cat4}} ({{=percent_cat4}}% of questions tried)</li>
    <li>Making very good progress: {{=total_cat3}} ({{=percent_cat3}}% of questions tried)</li>
    <li>Working on it: {{=total_cat2}} ({{=percent_cat2}}% of questions tried)</li>
    <li>Need some more attention: {{=total_cat1}} ({{=percent_cat1}}% of questions tried)</li>
    <li>Average Score: {{=score_avg}}</li>
</ul>
<h3>All Logged Question Attempts</h3>
{{=form}}
