{{extend 'layout.html'}}

<div class="row">
    <div class="container">
        <div class="col-xs-12">

            <h2>Your Greek Vocabulary</h2>
                <div id="vocabulary_list_frame">
                    {{=LOAD('reporting','vocabulary_list.load',ajax=True,
                            content=I(_class="fa fa-spinner fa-pulse fa-3x fa-fw",
                            id='vocabulary_list_frame'))}}
                </div>
        </div>
    </div>
</div>

<script>
// ========== handle scope selection widget ======== //

$(document).on('change', '#vocab_scope_selector', function(){
    console.log($(this).val());
    var spinner = '{{=I(_class="fa fa-spinner fa-pulse fa-3x fa-fw")}}';
    $('#vocab-table_wrapper').html(spinner);
    var myurl = '{{=URL('reporting', 'vocabulary_list.load')}}';
    ajax(myurl, ['vocab_scope_selector'], 'vocabulary_list_frame');
});

</script>
