{{extend 'layout.html'}}

<h2>Student Queries</h2>

{{if classid:}}
<form class='form-inline' id='class-chooser-form'>
    <div class="form-group">
        <div class='input-group'>
            <span class='input-group-addon'><i class='fa fa-group'></i>Select a class</span>
            <select name='agid' id='class-chooser' class='form-control'>
                {{for m in myclasses:}}
                {{=OPTION('{} {}, section {}, {}'
                          ''.format(m['academic_year'],
                                    m['term'],
                                    m['course_section'],
                                    m['institution']),
                           _value=m['id'])}}
                {{pass}}
                {{if admin is True:}}
                    <option class='unregistered-active' value='unregistered-active'>
                        Currently unenrolled but active
                    </option>
                    <option class='unregistered-inactive' value='unregistered-inactive'>
                        All unenrolled users
                    </option>
                    <option class='all' value='all'>
                        All users
                    </option>
                {{pass}}
            </select>
        </div>
        <div class='input-group'>
            <span class='input-group-addon'><i class='fa fa-filter'></i>Filter</span>
            <select name='filter' id='query-filter' class='form-control'>
                    <option class='unanswered' value='unanswered'>
                        unanswered
                    </option>
                    <option class='answered' value='answered'>
                        answered
                    </option>
                    <option class='confirmed' value='confirmed'>
                        confirmed as bugs
                    </option>
                    <option class='fixed' value='fixed'>
                        resolved bugs
                    </option>
                    <option class='all' value='all'>
                        all queries
                    </option>
                {{pass}}
            </select>
        </div>
    </div>
</form>
{{pass}}

{{if classid:}}
<div class='query_list'>
    {{=LOAD('listing', 'querylist.load', vars={'agid': classid}, ajax=False,
             target='query_list')}}
</div>
{{else:}}
<div class="query_list">
    <p>You do not yet have any classes associated with your instructor's
    account.</p>
</div>
{{pass}}

<script type="text/javascript">

// handle select boxes that change classes and filters
 $(document).on('change', '#class-chooser, #query-filter', function(event){
	ajax("{{=URL('listing', 'querylist.load')}}", ['agid', 'filter'], 'query_list');
    event.preventDefault();
	}
);

// handle dynamic editing of query records
function update_row(myid){
    var $myrow = $('#query_list_table tr#' + myid);
    var $accell = $myrow.find('td.my-comment').is(':hidden') ?
        $myrow.next('tr').find('td.My.Comment') :
        $myrow.find('td.my-comment');
    var $ascell = $myrow.find('td.new-score').is(':hidden') ?
        $myrow.next('tr').find('td.New.Score') :
        $myrow.find('td.new-score');
    var $bscell = $myrow.find('td.status').is(':hidden') ?
        $myrow.next('tr').find('td.Status') :
        $myrow.find('td.status');
    myvals = {admin_comment: $accell.html(),
              adjusted_score: $ascell.text(),
              bug_status: $bscell.find('select').val()
              }
    var newscore = myvals['adjusted_score'];
    if ( newscore != 'None' && newscore >= $myrow.find('td.score').text() ){
        myvals['step'] = $myrow.find('td.step').text();
        myvals['in_path'] = $myrow.find('td.path').text();
        myvals['map_location'] = $myrow.find('td.map-location').text();
        myvals['id'] = myid
        myvals['log_id'] = $myrow.find('td.log-id').text();
        myvals['score'] = $myrow.find('td.score').text();
        myvals['user_name'] = $myrow.find('td.user-id').text();
        myvals['user_comment'] = $myrow.find('td.user-comment').html();
        myvals['user_response'] = $myrow.find('td.response').text();
    }
    console.log(myvals);
    var my_url = '/paideia/default/update_bug/' + myid;
    $.ajax({url: my_url,
            type: 'POST',
            data: myvals,
            success: function(result){
                $.alert(result);
            },
            error: function(result){
                $.alert({title: 'Error updating query', content: result});
            }
    });
}
// handle change in query status select
$(document).on('change', 'td.status select, td.Status select', function(){
    var myid = $(this).attr('id');
    update_row(myid);
});
// handle editing directly in comment and new score fields
$(document).on('click', 'td.my-comment, td.My.Comment, td.new-score, td.New.Score', function(){
    $(this).attr('contenteditable', 'true').focus();
});
$(document).on('blur', 'td.my-comment, td.My.Comment, td.new-score, td.New.Score', function(){
    // make sure doesn't fire if browser just loses focus
    if ( document.activeElement !== this ){
        $(this).attr('contenteditable', 'false');
        if ( $(this).closest('tr').hasClass('primary-row') ){
            var myid = $(this).closest('tr').attr('id');
        } else {
            $parent_row = $(this).closest('tr.child').prev('tr');
            var myid = $parent_row.attr('id');
            if ( $(this).hasClass('My') ) {
                myval = $(this).html();
                $target = $parent_row.find('td.my-comment');
                $target.html(myval);
            } else if ( $(this).hasClass('New') ){
                myval = $(this).html();
                $target = $parent_row.find('td.new-score');
                $target.html(myval);
            }
        }
        update_row(myid);
    }
});

</script>
