{{extend 'layout.html'}}

<h2>Class Lists</h2>

{{if classid:}}
<form class='form-inline' id='class-chooser-form'>
    <div class="form-group">
        <div class='input-group'>
            <span class='input-group-addon'>Select a class to view</span>
            {{=chooser}}
        </div>
        <button type='submit' id='chooser_submit' class='btn btn-primary'>Get list</button>
    </div>
</form>
{{pass}}

<script type="text/javascript">
var userlist_cid = '';
var refresh = function(){
	//this needs to be here instead of in userlist.load otherwise you define multiple
	//copies of the trigger
	 //look for userlist_cid  to be set in userlist.load
	if (userlist_cid){
		//console.log('userlist_cid: ' + userlist_cid )
		$('#chooser_submit').val('Working ...')
		ajax("{{=URL('listing', 'userlist.load')}}", ['agid'], userlist_cid);
	}
	return false;
}
 $('#chooser_submit').click(refresh);
</script>

{{if classid:}}
<div class='user_list'>
    {{=LOAD('listing', 'userlist.load', vars={'agid': classid}, ajax=False)}}
</div>
{{else:}}
<div class="user_list">
    <p>You do not yet have any classes associated with your instructor's
    account.</p>
</div>
{{pass}}


