nav,
div.navbar                  {background-color: #fff;
                             height: 2em;
                             border-bottom: 1px solid #efefef;
    h1                      {font-size: 1.5em;
                             text-transform: uppercase;
                             margin-top: 0;
                             margin-bottom: 0;
                             line-height:2em;
                             float: left;
    }
    small                   {line-height:2em;
                             display: none;
    }

}

div#masthead                {background-image: url('../images/town_map.png');
                             height: 360px;
                             margin-top: 0;
    div.hero-text           {background-color: #fff;
                             opacity: 0.8;
                             width: 40%;
                             padding: 1em;
    }
}

