/*-- typography --------------------------------------------------*/
/*-- colors --------------------------------------------------*/
/*@blue:                  lighten(@blueDark, 20%); */
/*@blueDark:              #0064cd;*/
/*@pink:                  #c3325f;*/
/*@purple:                #7a43b6;*/
body {
  margin-top: 0;
  padding-top: 50px !important;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
}
/*-- navbar --------------------------------------------------*/
nav,
div.navbar {
  background-color: #fff;
  height: 2em;
  border-bottom: 1px solid #efefef;
}
nav h1,
div.navbar h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
  /*line-height:2em;*/

  float: left;
  padding: 13px 0;
  letter-spacing: 2px;
}
nav h1 a,
div.navbar h1 a {
  color: #bd362f;
  text-decoration: none;
  transition: 100ms all linear;
}
nav h1 a:hover,
div.navbar h1 a:hover {
  text-decoration: none;
  color: #942a25;
  transition: 100ms all linear;
}
nav small,
div.navbar small {
  line-height: 2em;
  display: none;
}
nav a,
div.navbar a {
  color: #d8d3b3;
}
/*-- masthead --------------------------------------------------*/
div#masthead {
  background-image: url('../images/town_map.png');
  min-height: 360px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0px solid transparent;
}
div#masthead div.jumbotron {
  background: transparent;
  background-color: rgba(255, 255, 255, 0);
  /*width: 40%;*/

  /*padding: 1em;*/

  margin: 1em 0 0 0;
  border-radius: 0;
  text-align: center;
}
/*-- main --------------------------------------------------*/
main {
  background-color: #ffffff;
}
/*-- footer --------------------------------------------------*/
footer#footer {
  background-color: #bd362f;
  color: #fff;
  margin-top: 0;
}
footer#footer div.row {
  border-top: 0px solid transparent;
}
footer#footer div.row a {
  color: #f89406;
}
/*-- index --------------------------------------------------*/
body.default.index div.index-openmessage {
  text-align: center;
}
body.default.index div.index-openmessage p.index-openmessage {
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}
body.default.index div.container.paragraphs {
  overflow: hidden;
}
body.default.index div.container.paragraphs div.index-contentbox {
  background-color: #fff;
}
body.default.index div.container.paragraphs div.index-contentbox p {
  margin-top: 10px;
}
body.default.index div.container.paragraphs div.index-titlebox {
  background-color: #efefef;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
body.default.index div.modal-set.container {
  color: #efefef;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
body.default.index div.modal-set.container h4 a {
  color: #f89406;
}
body.default.index div.modal-set.container h4 a:hover {
  text-decoration: dotted;
}
body.default.index div.modal-set.container .info-illustration-wrapper {
  text-align: center;
  width: 100%;
}
body.default.index div.modal-set.container .info-illustration-wrapper .info-pane-illustration {
  width: 120px;
  background-color: #efefef;
  border-radius: 50%;
  padding: 12px;
  margin: 0px auto;
  position: relative;
}
body.default.index div.modal-set.container p {
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
/*-- exploring --------------------------------------------------*/
body.exploring div#masthead {
  display: none;
}
body.exploring main {
  z-index: 1;
}
body.exploring main #page {
  background-size: auto 100%;
}
body.exploring main #page div#loading-mask {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
body.exploring main #page #town_map {
  height: 500px;
  margin: 0 auto;
}
body.exploring main #page .admin-panel {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: -310px;
  background-color: #000000;
  color: #ffffff;
  z-index: 100;
  padding-left: 20px;
}
body.exploring main #page .admin-panel:hover {
  left: 0;
}
body.exploring main #page .admin-panel h3 {
  color: #ffffff;
}
body.exploring main #page .admin-panel input[type=text] {
  width: 60%;
}
body.exploring main #page .speaker {
  position: absolute;
}
body.exploring main #page .prompt,
body.exploring main #page .responder {
  background-color: #fff;
  position: relative;
  float: left;
  width: 50%;
  margin: 1em 1em 0 0;
  margin-left: 40%;
  padding: 1em;
  font-family: "SBL Greek";
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
body.exploring main #page .prompt img,
body.exploring main #page .responder img {
  max-height: 260px;
}
body.exploring main #page .prompt #slides_btn,
body.exploring main #page .responder #slides_btn,
body.exploring main #page .prompt #instructions_btn,
body.exploring main #page .responder #instructions_btn,
body.exploring main #page .prompt #readable_btn,
body.exploring main #page .responder #readable_btn {
  position: relative;
  float: left;
  display: inline-block;
  margin-right: 1em;
  text-transform: capitalize;
  font-size: 12px;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
  /*cursor: pointer;*/

}
body.exploring main #page .prompt a.btn,
body.exploring main #page .responder a.btn {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
}
body.exploring main #page .prompt .path-counter,
body.exploring main #page .responder .path-counter,
body.exploring main #page .prompt .prompt-editlinks,
body.exploring main #page .responder .prompt-editlinks {
  font-size: 12px;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
}
body.exploring main #page .prompt table,
body.exploring main #page .responder table {
  width: 100%;
  margin: 0;
}
body.exploring main #page .prompt table input[type=text],
body.exploring main #page .responder table input[type=text] {
  width: 100%;
}
body.exploring main #page .prompt table input[type=submit],
body.exploring main #page .responder table input[type=submit] {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
}
body.exploring main #page .prompt table td.w2p_fw,
body.exploring main #page .responder table td.w2p_fw {
  padding-left: 0;
}
body.exploring main #page .prompt table td.w2p_fl,
body.exploring main #page .responder table td.w2p_fl {
  display: none;
}
/*-- reporting --------------------------------------------------*/
body.reporting #masthead {
  display: none;
}
/*-- reporting --------------------------------------------------*/
body.listing #masthead {
  display: none;
}
/*-- user profile -----------------------------------------------*/
body.profile #page,
body.user #page {
  /*tab content */

  /* common styles for reporting tables */

  /* user info */

  /*summary stats (badges) tab*/

  /*calendar for monthly user statistics */

}
body.profile #page .tab-pane,
body.user #page .tab-pane {
  padding: 20px;
}
body.profile #page .tab-pane h4,
body.user #page .tab-pane h4 {
  color: #1c7f99;
  font-size: 20px;
}
body.profile #page table,
body.user #page table {
  text-align: left;
}
body.profile #page ul.nav-tabs,
body.user #page ul.nav-tabs {
  background-color: #f2eed5;
  border-bottom: 1px solid #d8d3b3;
  font-size: 20px;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
}
body.profile #page ul.nav-tabs li a,
body.user #page ul.nav-tabs li a {
  border: 1px solid transparent;
}
body.profile #page ul.nav-tabs li a:hover,
body.user #page ul.nav-tabs li a:hover {
  background-color: #d8d3b3;
}
body.profile #page ul.nav-tabs li.active,
body.user #page ul.nav-tabs li.active {
  border: 1px solid transparent;
  background-color: transparent;
}
body.profile #page ul.nav-tabs li.active a,
body.user #page ul.nav-tabs li.active a {
  background-color: #ffffff;
  border-top: 1px solid #d8d3b3;
  border-left: 1px solid #d8d3b3;
  border-right: 1px solid #d8d3b3;
  border-bottom: 1px solid transparent;
}
body.profile #page ul.nav-tabs li.active a:hover,
body.user #page ul.nav-tabs li.active a:hover {
  background-color: #ffffff;
}
body.profile #page ul.profile-user-info,
body.user #page ul.profile-user-info {
  list-style-type: none;
  background-color: #f2eed5;
  display: block;
  padding: 10px;
  margin: 0;
}
body.profile #page ul.profile-user-info li,
body.user #page ul.profile-user-info li {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
  color: #f89406;
}
body.profile #page ul.profile-user-info li .profile-label,
body.user #page ul.profile-user-info li .profile-label {
  display: none;
}
body.profile #page ul.profile-user-info li:first-child,
body.user #page ul.profile-user-info li:first-child {
  font-size: 20px;
  color: #333333;
}
body.profile #page ul.profile-user-info li:nth-child(2),
body.user #page ul.profile-user-info li:nth-child(2) {
  color: #96bc44;
}
body.profile #page p.overview table.dc-table-label,
body.user #page p.overview table.dc-table-label {
  color: #f89406;
  font-size: 20px;
  font-weight: bold;
}
body.profile #page p.overview li,
body.user #page p.overview li {
  color: #1c7f99;
  padding-left: 40px;
}
body.profile #page p.overview .total_len,
body.user #page p.overview .total_len,
body.profile #page p.overview .max_set,
body.user #page p.overview .max_set {
  background: #f2eed5;
  border: 3px solid #d8d3b3;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: #96bc44;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
body.profile #page .most_recent,
body.user #page .most_recent {
  color: #1c7f99;
}
body.profile #page table.summary_stats,
body.user #page table.summary_stats {
  border-collapse: separate;
  border-spacing: 2px;
  border-radius: 5px;
  padding: 5px 0;
  background: #ffffff;
}
body.profile #page table.summary_stats td,
body.user #page table.summary_stats td {
  vertical-align: middle;
  background: #f2eed5;
  padding: 10px 20px;
}
body.profile #page table.summary_stats td ul,
body.user #page table.summary_stats td ul {
  max-height: 120px;
  overflow: auto;
}
body.profile #page table.summary_stats td.total_cat1,
body.user #page table.summary_stats td.total_cat1,
body.profile #page table.summary_stats td.total_cat2,
body.user #page table.summary_stats td.total_cat2,
body.profile #page table.summary_stats td.total_cat3,
body.user #page table.summary_stats td.total_cat3,
body.profile #page table.summary_stats td.total_cat4,
body.user #page table.summary_stats td.total_cat4 {
  width: 40px;
  color: #fff;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding: 0;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
body.profile #page table.summary_stats td.total_cat4,
body.user #page table.summary_stats td.total_cat4 {
  background-color: #f89406;
}
body.profile #page table.summary_stats td.total_cat3,
body.user #page table.summary_stats td.total_cat3 {
  background-color: #96bc44;
}
body.profile #page table.summary_stats td.total_cat2,
body.user #page table.summary_stats td.total_cat2 {
  background-color: #1c7f99;
}
body.profile #page table.summary_stats td.total_cat1,
body.user #page table.summary_stats td.total_cat1 {
  background-color: #f89406;
}
body.profile #page .paideia_monthcal,
body.user #page .paideia_monthcal {
  position: relative;
  width: 430px;
  margin: 0 auto;
  text-align: center;
}
body.profile #page .paideia_monthcal .monthcal_intro_line,
body.user #page .paideia_monthcal .monthcal_intro_line {
  color: #809240;
  margin-bottom: 7px;
}
body.profile #page .paideia_monthcal table.month,
body.user #page .paideia_monthcal table.month {
  border: 1px solid #d8d3b3;
}
body.profile #page .paideia_monthcal table.month tr:first-child,
body.user #page .paideia_monthcal table.month tr:first-child {
  font-size: 22px;
}
body.profile #page .paideia_monthcal table.month tr:first-child th,
body.user #page .paideia_monthcal table.month tr:first-child th {
  text-align: center;
  padding: 10px;
}
body.profile #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.previous,
body.user #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.previous,
body.profile #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.next,
body.user #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.next {
  font-size: 20px;
}
body.profile #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.next,
body.user #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.next {
  float: right;
}
body.profile #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.previous,
body.user #page .paideia_monthcal table.month tr:first-child th .monthcal_nav_link.previous {
  float: left;
}
body.profile #page .paideia_monthcal table.month tr:first-child th #month-label,
body.user #page .paideia_monthcal table.month tr:first-child th #month-label {
  font-size: 20px;
}
body.profile #page .paideia_monthcal table.month th,
body.user #page .paideia_monthcal table.month th {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  background-color: #f2eed5;
  border: 1px solid #f2eed5;
  color: #d8d3b3;
}
body.profile #page .paideia_monthcal table.month td,
body.user #page .paideia_monthcal table.month td {
  width: 50px;
  height: 50px;
  color: #666;
  font-size: 14px;
  border: 1px solid #f2eed5;
  position: relative;
}
body.profile #page .paideia_monthcal table.month td span.cal_num,
body.user #page .paideia_monthcal table.month td span.cal_num {
  position: relative;
  padding: 4px, 2px;
  color: #aaa;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
}
body.profile #page .paideia_monthcal table.month td span.daycount,
body.user #page .paideia_monthcal table.month td span.daycount {
  position: relative;
  font-size: 20px;
  /*font-weight:bold;*/

  top: 20px;
  float: right;
  padding-right: 2px;
  color: #f89406;
}
body.profile #page .paideia_monthcal table.month td span.daycount.full,
body.user #page .paideia_monthcal table.month td span.daycount.full {
  color: #96bc44;
}
body.profile #page .paideia_monthcal table.month td span.success,
body.user #page .paideia_monthcal table.month td span.success {
  position: absolute;
  left: 72px;
  top: 24px;
  font-size: 22px;
  color: #96bc44;
}
/*-- user --------------------------------------------------*/
body.user #masthead {
  display: none;
}
/* Side notes for calling out things ----------------------------------- */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
.bs-callout.bs-callout-success {
  background-color: #dff0d8;
  border-color: #96bc44;
}
.bs-callout.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #bd362f;
}
.bs-callout.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
