@import "../bootstrap_less/bootstrap.less";
@import "./web2py.css";
@import "./web2py-bootstrap3.css";
@import "../fontawesome/less/font-awesome.less";
@import "./theme_colors.less";
@import "./framework_typography.less";


body                        {margin-top: 0;
                             padding-top: 50px !important;
                             font-family: @sansFonts;
    h1,
    h2,
    h3,
    h4                      {font-family: @sansFonts;
    }
    ul                      {list-style-type: None;
                             list-style-position: outside;
    }
}

/*-- navbar --------------------------------------------------*/
nav,
.navbar                    {background-color: #fff;
                            border-bottom: 1px solid #efefef;
    a.navbar-brand         {font-size: @font-size-largest;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: @danger;
                            transition: 100ms all linear;
        &:hover            {color: darken(@danger, 10%);
                            transition: 100ms all linear;
        }
    }
    small                  {display: none;
    }
    a                      {color: darken(@pallette2, 20%);
    }
    .navbar-toggle span    {background-color:darken(@pallette2, 20%);
    }
    ul.navbar-nav li a     {
        &:hover,
        &:active           {background-color: @pallette2;
                            color: @white;
        }
    }
}

/*-- masthead --------------------------------------------------*/
div#masthead                {background-image: url('../images/town_map.png');
                             min-height: 360px;
                             margin-top: 0;
                             margin-bottom: 0;
                             padding-bottom: 0;
                             border: 0px solid transparent;
    div.jumbotron           {background: transparent;
                             background-color: rgba(255,255,255,0);
                             text-align: center;
    }
}

/*-- main --------------------------------------------------*/
main                        {background-color: @white;
                             min-height: 320px;
}

/*-- footer --------------------------------------------------*/
footer#footer               {background-color: @danger;
                             color: #fff;
                             margin-top: 0;
    div.row                 {border-top: 0px solid transparent;
        a                   {color: @warning;
        }
    }
}

/*-- index --------------------------------------------------*/
body.default.index                      {
    div.index-openmessage               {text-align: center;
        p.index-openmessage             {font-size: @font-size-large;
                                         padding-top: @line-height-computed;
                                         text-align: center;
        }
    }
    div.container.paragraphs            {overflow: hidden;
        div.index-contentbox            {background-color: #fff;
            p                           {margin-top: 10px;
            }
        }

        div.index-titlebox              {background-color: #efefef;
                                         margin-bottom: -99999px;
                                         padding-bottom: 99999px;
        }
    }
    div.modal-set.container                   {color: #efefef;
                                     text-align: center;
                                     margin-top: 20px;
                                     margin-bottom: 20px;
        h4 a                        {color: @warning;
            &:hover                 {text-decoration: dotted;
            }
        }
        .info-illustration-wrapper  {text-align: center;
                                     width:100%;
            .info-pane-illustration {width:120px;
                                     background-color: #efefef;
                                     border-radius: 50%;
                                     padding:12px;
                                     margin: 0px auto;
                                     position: relative;
            }
        }
        p                       {hyphens: auto;
                                -moz-hyphens: auto;
                                -webkit-hyphens: auto;
                                -ms-hyphens: auto;
        }
    }
}

/*-- exploring --------------------------------------------------*/
body.exploring                  {
    div#masthead                {display: none;
    }
    main                            {z-index:1;
        #page                       {background-size: auto 100%;
            div#loading-mask            {display: none;
                                         position: absolute;
                                         background-color: rgba(0,0,0,0.6);
                                         width: 100%;
                                         height: 100%;
            }
            #town_map                   {height:500px;
                                         margin:0 auto;
            }
            .admin-panel                {position:absolute;
                                         width:300px;
                                         height:300px;
                                         top:0;
                                         left: -280px;
                                         background-color: @black;
                                         color: @white;
                                         z-index:100;
                                         padding-left: @line-height-computed;
                &:hover                 {left:0;}
                h3                      {color: @white;}
                input[type=text]        {width: 60%;}
            }
            .speaker                    {position: absolute;
                img                     {}
            }
            .prompt,
            .responder                  {background-color: #fff;
                                         position: relative;
                                         float: left;
                                         width: 50%;
                                         margin: 1em 1em 0 0;
                                         margin-left: 40%;
                                         padding: 1em;
                                         font-family: "SBL Greek";
                                         font-size: @font-size-large;
                                         box-shadow: 0 0 6px rgba(0,0,0,0.5);

                img                     {max-height: 260px;
                }
                #slides_btn,
                #instructions_btn,
                #readable_btn           {position: relative;
                                         float: left;
                                         display: inline-block;
                                         margin-right: 1em;
                                         text-transform: capitalize;
                                         font-size: @font-size-small;
                                         font-family: @sansFonts;
                                         /*cursor: pointer;*/
                }
                a.btn                   {font-family: @sansFonts;
                }
                .path-counter,
                .prompt-editlinks       {font-size: @font-size-small;
                                         font-family: @sansFonts;
                }
                table                   {width: 100%;
                                         margin: 0;
                    input[type=text]    {width: 100%;
                    }
                    input[type=submit]  {font-family: @sansFonts;
                    }
                    td.w2p_fw           {padding-left: 0;
                    }
                    td.w2p_fl           {display: none;
                    }
                }
            }
        }
    }
}

/*-- reporting --------------------------------------------------*/
body.reporting                      {
    #masthead                       {display: none;
    }
}

/*-- reporting --------------------------------------------------*/
body.listing                        {
    #masthead                       {display: none;
    }
}


/*-- user --------------------------------------------------*/
body.user                           {
    #masthead                       {display: none;
    }
}
/*-- user profile -----------------------------------------------*/
body.profile #page,
body.user #page          {
    /*tab content */
    .tab-pane                  {padding: @line-height-computed;
        h4                     {color: @accent2;
                                font-size: @font-size-large;}

    }

    /* common styles for reporting tables */
    table                  {text-align:left;}

    ul.nav-tabs            {background-color: @pallette1;
                            border-bottom: 1px solid @pallette2;
                            font-size: @font-size-large;
                            font-family: @sansFonts;
        li                 {
            a              {border: 1px solid transparent;
                &:hover    {background-color: @pallette2;}
            }
            &.active        {border: 1px solid transparent;
                            background-color: transparent;
                a          {background-color: @palletteBG;
                            border-top: 1px solid @pallette2;
                            border-left: 1px solid @pallette2;
                            border-right: 1px solid @pallette2;
                            border-bottom: 1px solid transparent;
                    &:hover    {background-color: @palletteBG;}
                }
            }
        }
    }

    /* user info */
    ul.profile-user-info   {list-style-type: none;
                            background-color: @pallette1;
                            display:block;
                            padding:(@line-height-computed / 2);
                            margin: 0;
        li                 {display: inline-block;
                            margin-right: @line-height-computed;
                            font-size: @font-size-small;
                            color: @warning;
            .profile-label {display: none;}
            &:first-child  {font-size:@font-size-large;
                            color:@textColor;
            }
            &:nth-child(2) {color: @success;}
        }
    }

    /*summary stats (badges) tab*/
    p.overview             {
        table              {
            &.dc-table-label    {color: @accent3;
                                 font-size: @font-size-large;
                                 font-weight: bold;
            }
        }
        li                 {color: @accent2;
                            padding-left: @line-height-computed * 2;}
        .total_len,
        .max_set           {background:@pallette1;
                            border:3px solid @pallette2;
                            display:inline-block;
                            height: @line-height-computed * 1.5;
                            width: @line-height-computed * 1.5;
                            border-radius: ((@line-height-computed * 1.5) / 2);
                            color:@pallette3;
                            line-height:@line-height-computed * 1.5;
                            text-align:center;
                            box-shadow:0px 2px 6px rgba(0,0,0,0.3);}
    }
    .most_recent       {color: @accent2;}
    table.summary_stats    {/*border-collapse:separate;*/
                            /*border-spacing:2px;*/
                            /*border-radius: (@line-height-computed/4);*/
                            /*padding:(@line-height-computed/4) 0;*/
                            /*background:@white;*/
        td                 {vertical-align:middle;
                            /*background: @pallette1;*/
                            /*padding: (@line-height-computed/2) @line-height-computed;*/
            &:nth-child(1) {width: 7em;}
            ul             {max-height: @line-height-computed * 6;
                            overflow: auto;
                li         {display: inline-block;
                            margin-right: 0.25em}
            }
          
        }
        td.total_cat1,
        td.total_cat2,
        td.total_cat3,
        td.total_cat4      {height:40px;
                            width:40px;
                            color:#fff;
                            height:40px;
                            text-align:center;
                            font-size:20px;
                            padding:0;
                            text-shadow:0px 1px 3px rgba(0,0,0,0.3);}
        td.total_cat4      {background-color:@accent3;}
        td.total_cat3      {background-color:@pallette3;}
        td.total_cat2      {background-color:@accent2;}
        td.total_cat1      {background-color:@accent3;}
    }
    /*calendar for monthly user statistics */
    .paideia_monthcal          {position: relative;
                                width: 430px;
                                margin:0 auto;
                                text-align: center;
        .monthcal_intro_line   {//.group
                                color: @pallette4;
                                margin-bottom: (@font-size-base/2);}
        table.month            {border: 1px solid @pallette2;
            tr:first-child     {font-size: @font-size-largest; 
                th             {text-align: center;
                                padding: (@line-height-computed/2);
                    .monthcal_nav_link.previous,
                    .monthcal_nav_link.next     {font-size: @font-size-large;
                    }
                    .monthcal_nav_link.next     {float: right;}
                    .monthcal_nav_link.previous {float:left;} 
                    #month-label    {font-size: @font-size-large;
                    }
                }
            }
            th                 {font-family: @sansFonts;
                                font-weight: normal;
                                font-size: @font-size-base; 
                                background-color: @pallette1;
                                border: 1px solid @pallette1;
                                color: @navbarLinkColor;
            }
            td                 {width:@line-height-computed * 2.5;
                                height:@line-height-computed * 2.5;
                                color:#666; //@pallette3;
                                font-size:@font-size-base;
                                border: 1px solid @pallette1;
                                position:relative;
                span.cal_num   {position:relative;
                                padding:4px, 2px;
                                color: #aaa; //@navbarLinkColor;
                                font-family: @sansFonts;}
                span.daycount  {position:relative;
                                font-size:@font-size-large;
                                /*font-weight:bold;*/
                                top:@line-height-computed;
                                float:right;
                                padding-right:2px;
                                color:@accent3;
                    &.full     {color:@success;}
                }
                span.success   {position: absolute;
                                left: 72px;
                                top: 24px;
                                font-size: @font-size-largest;
                                color: @success;
                }
            }
        }
    }
}

/*-- util -----------------------------------------------*/

body.util                       {
    div#masthead                {display: none;
    }
}

/*-- util/make_path -----------------------------------------------*/

.ppf_label                      {font-weight: bold;
                                 margin-right: 1em;
}

/*-- slides -----------------------------------------------*/

/*body.*/

/* Side notes for calling out things ----------------------------------- */
.bs-callout                 {margin: 20px 0;
                             padding: 15px 30px 15px 15px;
                             border-left: 5px solid #eee;
    h4                      {margin-top: 0;
    }
    p:last-child            {margin-bottom: 0;
    }
    code,
    .highlight              {background-color: #fff;
    }

    &.bs-callout-success         {background-color: @success-bg;
                                border-color: @success;
    }
    &.bs-callout-danger          {background-color: @danger-bg;
                                border-color: @danger;
    }
    &.bs-callout-warning         {background-color: #fefbed;
                                border-color: #f1e7bc;
    }
    &.bs-callout-info            {background-color: #f0f7fd;
                                border-color: #d0e3f0;
    }
}
