 @import "../plugin_framework/framework";

.plugin_slider_frame{
    background-color:@chalk;
    width:100%;
    height:100%;
}

.plugin_slider_navlink         {position:absolute;
                                top:50%;
                                width:@lineheight3;
                                height:@lineheight3;
                                display:block;
                                background-color:@sol_charcoal;
                                color:#fff;
                                opacity:0.6;
                                .icon-only;
                                font-size:@typeheight2;
                                padding:@lineheight;
                                .inset-text();
                                .transition();
    &:hover                    {.transition();}
    }

.plugin_slider_prevlink        {left:-@lineheight;
                                .plugin_slider_navlink;
                                .icon-back;
                                text-align: right;
    &:hover                    {left:0;}
    }
.plugin_slider_nextlink        {right:-@lineheight;
                                .plugin_slider_navlink;
                                .icon-next;
                                text-align: left;
    &:hover                    {right:0;}
    }


div.plugin_slider_slidemenu    {display:block;
                                position:absolute;
                                bottom:-500px + @lineheight;
                                left:50%;
                                margin-left: -150px;
                                width:300px;
                                height:500px;
                                max-height:500px;
                                overflow:auto;
                                background-color:@sol_charcoal;
                                opacity:0.6;
                                font-size:@typeheight;
                                color:@chalk;
                                .border-radius(@typeheight, @typeheight, 0, 0);
                                .transition();
                                z-index:99;
    &:hover,
    &.initial_state            {bottom:0; .transition();}

    h4                         {display:block;
                                text-align: center;
                                .blockletter-small();}
    a                          {color:@chalk;}
    ul                         {padding:0 @lineheight;}
}



#slideframe {
    height:100%;
}

body #page div.plugin_slider_slide{
    background-color: @chalk;
    .Greek;
    width:100%;
    height:100%;
    padding-top:@typeheight;
    padding-left:@lineheight3 * 2;
    padding-right:@lineheight3 * 2;
    z-index:99;

    h1 {
        display:inline-block;
        color:@sol_yellow;
        margin:0 auto;
    }

    ul {
        list-style-type:disc;
        /*font-family:Ubuntu, Calibri;*/
        list-style-position: outside;
        font-size:@typeheight2;
        color:@sol_blue;
        line-height:@lineheight2;
        margin:0;

        ul {
            font-size:@typeheight * 1.5;
            color:@sol_orange;
            padding-left:@lineheight;
        }
    }

    ol {
        font-family:Ubuntu, Calibri;
        font-size:1.5em;
        color:#268bd2;
        line-height:2em;
        margin:0;
    }

    table.letter_table {
        background-color:@sol_cyan;
        padding:@typeheight;
        border:1px solid #fff;
        border-radius:.5em;
        text-align:center;
        margin:@typeheight auto;

        thead {
            font-size:4em;
            line-height:1.5em;

            td {
                padding:.5em;
            }
        }
    }

    tbody {
        font-size:1.5em;
        border-top:1px solid #fff;
    }
}
