.plugin_slider_frame{
    background-color:#ddd;
    width:100%;
    height:100%;
}

body #page div.plugin_slider_slide{
    background-color:#f8f0e5;
    width:100%;
    height:100%;
    padding:1em 4em;
    z-index:99;
}

.plugin_slider_prevlink{
    position:absolute;
    left:-60px;
    top:50%;
    width:72px;
    height:72px;
    display:block;
    background-color:#888;
    color:#fff;
    opacity:0.6;
}

.plugin_slider_nextlink{
    position:absolute;
    right:-60px;
    top:50%;
    width:72px;
    height:72px;
    display:block;
    background-color:#888;
    color:#fff;
}

.plugin_slider_slidemenu{
    display:block;
    position:absolute;
    top:0;
    left:-40px;
    height:40px;
    max-height:40px;
    overflow:hidden;
    background-color:#073642;
    color:#fff;
    padding-left:1em;
    -moz-transition:all 400ms ease-in-out;
    transition:all 400ms ease-in-out;
    z-index:99;
}

.plugin_slider_slidemenu:hover {
    height:400px;
    max-height:400px;
    overflow:auto;
    -moz-transition:all 400ms ease-in-out;
    transition:all 400ms ease-in-out;
}

.plugin_slider_slidemenu a {
    color:#fff;
}

#slideframe {
    height:100%;
}

.plugin_slider_slide h1 {
    display:inline-block;
    color:#dc322f;
    margin:0 auto;
}

.plugin_slider_slide ul {
    list-style-type:disc;
    /*font-family:Ubuntu, Calibri;*/
    font-size:2em;
    color:#607890;
    line-height:2em;
    margin:0;
}

.plugin_slider_slide ul ul {
    font-size: .75em;
    color:#707070;
    padding-left:2em;
}

.plugin_slider_slide ol {
    font-family:Ubuntu, Calibri;
    font-size:1.5em;
    color:#268bd2;
    line-height:2em;
    margin:0;
}

.plugin_slider_slide table.letter_table {
    background-color:#268bd2;
    padding:1em;
    border:1px solid #fff;
    border-radius:.5em;
    text-align:center;
    margin:1em auto;
}

.plugin_slider_slide table.letter_table {
    padding:1em;
}

.plugin_slider_slide table.letter_table thead {
    font-size:4em;
    line-height:1.5em;
}

.plugin_slider_slide table.letter_table thead td {
    padding:.5em;
}

.plugin_slider_slide table.letter_table tbody {
    font-size:1.5em;
    border-top:1px solid #fff;
}
