{{extend 'layout.html'}}

{{if request.vars:
    vars = request.vars
else:
    vars = None
pass}}

<div id="plugin_listandedit_wrapper">
{{=LOAD('plugin_listandedit', 'widget.load', args=request.args, vars=vars, ajax=False, ajax_trap=True)}}
</div>

<script>
if ($('select#bugs_bug_status')){
    $('select#bugs_bug_status').on('change', function(event){
        var newval = $(this).children('option:selected').val()
        if ((newval == 1)|(newval == 2)){
            ajax('{{=URL('editing', 'undo_bug')}}', ['id', 'log_id', 'score', 'bug_status', 'user_name', 'admin_comment'], ':eval');
        }
    });
};
</script>
