{{extend 'layout.html'}}
{{
from plugin_widgets import TOOLTIP, TABS, ROLE
import json
}}
<div class="row">
    <div class="container">
        <div class="col-xs-12">

<!--Above Tabs ================================================================-->

{{
tab1_content =   CAT(DIV(TABLE(THEAD(TR(TH('Step ID'),
                                      TH('Step Desc'),
                                      TH('Loc ID'),
                                      TH('Loc Desc'),
                                      TH('In Paths'),
                                      TH('Record ID')
                                      ),
                                    _class='header'
                                    ),
                              _class='table table-hover table-condensed',
                              _id='table-sil'
                              ),
                        _class='dc_container siltable-container',
                        _style='font: 12px sans-serif;'
                        )
                    )
}}
{{for trow in steps_inactive_locations_data:
silrow = TR(TD(trow['step_id']),
              TD(trow['step_desc']),
              TD(trow['loc_id']),
              TD(trow['loc_desc']),
              TD(trow['in_paths'] if trow['in_paths'] else ' ' ),
              TD(trow['id']),
              )
tab1_content[0][0].append(silrow)
pass
}}
<!--# ASSEMBLE AND PRINT ==================================================-->
{{=TABS([('Non Null Steps with All Invalid Locations', 'web2py_user_form', tab1_content, 'active')])
}}

<!--# LOCAL SCRIPTS ======================================================-->
<script type="text/javascript" charset="utf-8">
(function() {
    var siltable = $('#table-sil').DataTable({
                        paging: false,
                        scrollY: '400px',
                        scrollX: true,
                        renderer: 'bootstrap',
                        order: [2, 'asc'],
                        colVis: {
                            exclude: [ 0 ]
                        }
                     });
    new $.fn.dataTable.FixedColumns( siltable );
    var colvis = new $.fn.dataTable.ColVis( siltable );
    $( colvis.button() ).insertBefore('div.siltable-container');

})();
var rm_masthead = function() {
    var x = $('div#masthead').remove();
};

$(window).load(rm_masthead);
</script>






</div>
</div>
</div>
=======
<style>
/***********************/
/* USER STATS & CHARTS */
/***********************/
.stats-container {
    width: 700px;
    margin: 0 auto;
}

.chart .axis line,
.chart .axis path,
.chart .tick line {
    fill: none;
    stroke: black;
}

.chart .axis line,
.chart .axis path {
    shape-rendering: crispEdges;
}

.chart .axis text {
    font-size: .9em;
}

#stats-milestones .inner path,
#stats-answers .inner path {
    stroke: #0064cd;
}

#stats-answers .inner .right {
    fill: #0064cd;
}

#stats-answers .inner .wrong {
    fill: #cd001d;
}
</style>



