{{extend 'layout.html'}}
{{
from plugin_widgets import TOOLTIP, TABS, ROLE
import json
import uuid
}}
<div class="row">
    <div class="container">
        <div class="col-xs-12">

<!--Above Tabs ================================================================-->

{{
tab1_content =   CAT(DIV(TABLE(THEAD(TR(TH('Tag ID'),
                                      TH('Tag'),
                                      TH('Tag Position'),
                                      TH('Modified On')
                                      ),
                                    _class='header'
                                    ),
                              _class='table table-hover table-condensed',
                              _id='table-tnb'
                              ),
                        _class='dc_container tnbtable-container',
                        _style='font: 12px sans-serif;'
                        )
                    )
}}
{{for trow in tag_no_badge_ids_data:
	tnbrow = TR(TD(trow['id']),
          TD(A(trow['tag'], _href=URL('plugin_listandedit', 'edit.html',
                                    args=['badges'],
                                    vars={'orderby':'badge_name',
                                          'tag': trow['id'],
                                          'badge_name': trow['tag'],
                                          'description': 'using ' + str(trow['tag']) + ' (tag:' + str(trow['id']) +')',
                                          'uuid':str(uuid.uuid4()),
                                          'modified_on':str(request.now)[:19],
                                          'redirect':'True',
                                          'redirect_c': 'editing',
                                          'redirect_a': 'tnb.html'}),
              _class='plugin_listandedit_list',  target='self', 
               )
              ),
          TD(trow['tag_position']),
          TD(trow['modified_on'])
          )
	tab1_content[0][0].append(tnbrow)
pass
}}
<!--# ASSEMBLE AND PRINT ==================================================-->
{{=TABS([('Tags With No Badges', 'web2py_user_form', tab1_content, 'active')])
}}

<!--# LOCAL SCRIPTS ======================================================-->
<script type="text/javascript" charset="utf-8">
(function() {
    var tnbtable = $('#table-tnb').DataTable({
                        paging: false,
                        scrollY: '400px',
                        scrollX: true,
                        renderer: 'bootstrap',
                        order: [2, 'asc'],
                        colVis: {
                            exclude: [ 0 ]
                        }
                     });
    new $.fn.dataTable.FixedColumns( tnbtable );
    var colvis = new $.fn.dataTable.ColVis( tnbtable );
    $( colvis.button() ).insertBefore('div.tnbtable-container');

})();
var rm_masthead = function() {
    var x = $('div#masthead').remove();
};

$(window).load(rm_masthead);
</script>
<div id="createbadge"></div>






</div>
</div>
</div>
=======



<style>
/***********************/
/* USER STATS & CHARTS */
/***********************/
.stats-container {
    width: 700px;
    margin: 0 auto;
}

.chart .axis line,
.chart .axis path,
.chart .tick line {
    fill: none;
    stroke: black;
}

.chart .axis line,
.chart .axis path {
    shape-rendering: crispEdges;
}

.chart .axis text {
    font-size: .9em;
}

#stats-milestones .inner path,
#stats-answers .inner path {
    stroke: #0064cd;
}

#stats-answers .inner .right {
    fill: #0064cd;
}

#stats-answers .inner .wrong {
    fill: #cd001d;
}
</style>



