<div class="list_control">
    <h2>
        <span class='table'>{{=request.args[0].capitalize()}}</span> on
        <span class='restrictor'>{{=rname}}</span>
    </h2>
    {{=SPAN(str(len(listset)) + ' in total', _class='list_count')}}{{=adder}}
</div>

<section id="viewpane">
Please select an item from the list.

</section>

<section id="listpane">
   <!--  <form>
        <input type='text' id='restrictor_field' />
        <select id='restrictor_value'>
            {{for o in optset:}}
            <option value='{{=o}}'></option>
            {{pass}}
        </select>
    </form> -->
    <ul>
        {{for l in listset:}}
        <li>{{=l}}</li>
        {{pass}}
    </ul>
</section>
