.refresh_trigger, .add_trigger {
    display: block;
    float: right;
    width:30px;
    height:30px;
    background-color:#607890;
    color:#fff;
    font-weight:bold;
    text-align:center;
    line-height:30px;
    border-radius:16px;
    margin-bottom:.5em;
    /*clear:right;*/
    text-decoration:none;
    -moz-transition:all 100ms ease-in;    
}

.refresh_trigger:hover, .refresh_trigger:active, 
.add_trigger:hover, .add_trigger:active {
    background-color:#003366;
    -moz-transition:all 100ms ease-in;
}

ul.taglist {
    display:block;
    clear:both;
}

li.tag {
    font-size:.8em;
    display:inline-block;
    margin: .25em .25em 0 0;
}

span.tag, a.tag {
    display: block;
    color: #fff;
    height:2em;
    line-height:2em;
    background-color: #607890;
    padding:0 .5em;
    line-height:2em;
    font-family:Ubuntu, Arial, Helvetica, sans-serif;
    text-decoration:none;
    -moz-transition:all 100ms ease-in;
}

a.tag:hover {
    background-color:#003366;
    -moz-transition:all 100ms ease-in;
}
