@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/_mixins.scss";
$mapPng: "../Images/town_map.png";

// layout
// -----------------------------------

$breakpoint-sm: "576px";

// basic colors
// -----------------------------
$red:                   #B10808;
$warning:               #a40000;
$wine:                  #701;
$cranberry:             #852625;
$cinnamon:              #845852;
$cream:                 #F8F0E5;
$tapioca:               #F2E5D4;
$white:                 #fff;
$green:                 #5BA917;
$neutralLight:          #f2eed5;
$putty:                 #d8d3b3;
$green:                 #96BC44;
$greenDark:             #809240;
// $red:                   #9d261d;
$blueDark:              #1c7f99; // #006699;
$blue:                  #049cdb;
$yellow:                #ffc40d;
$orange:                #f89406;

// Applied Pallette (modded)
// -------------------------
$palletteBG: $white;
$pallette1: $neutralLight;
$pallette2: $putty;
$pallette3: $green;
$pallette4: $greenDark;
$accent1: $red;
$accent2: $blueDark;
$accent3: $orange;

$textColor: #333;
$linkColor: $pallette2;
$navbarLinkColor: $pallette2;
$heading-color: darken($pallette1, 30%);

// semantic colors (modded)
// -------------------------
$danger-bg: #fcf2f2;
$danger: #bd362f; // #a84f4c; // default #dFb5b4;
$info-bg: #f0f7fd; //#d0e3f0;
$info: #5bc0de;
$info-dark: #2f96b4; // #5387B2;
$warning-bg: #fefbed;
$warning: $orange; // #f1e7bc;
$error: $red;
$success-bg: #dff0d8;
$success: $pallette3;  // #d6e9c6;
$successDark: $pallette4; // #d6e9c6;

// semantic colors (grammatical)
$verb: #BF9000;
$nominative: #235888;
$genitive: #70AD47;
$accusative: #C00000;
$vocative: #C55A11;
$dative: #7030A0;
$preposition: #009999;

$table-background: lighten($nominative, 65%);


//---------------------------------------------------
// typography

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans|Gentium');

// @font-face {
//     font-family: 'Glyphicons Halflings';
//     src: url('../Fonts/glyphicons-halflings-regular.eot');
//     src: url('../Fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/glyphicons-halflings-regular.woff') format('woff'), url('../Fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../Fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'SBLGreekRegular';
    src: url('../Fonts/sbl_grk-webfont.eot');
    src: local('☺'),
    url('../Fonts/sbl_grk-webfont.woff') format('woff'),
    url('../Fonts/sbl_grk-webfont.ttf') format('truetype'),
    url('../Fonts/sbl_grk-webfont.svg#webfontRelj09Wi') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-size-base:               1rem;
$font-size-lg:                 $font-size-base * 1.25;
$sans-fonts:                   "Open Sans", sans-serif;
$greek-fonts:                  Gentium, "SBLGreekRegular", Palatino, "Arial Unicode";
$title-fonts:                  "Amatic SC";

.svg-inline--fa               {margin-right: 0.25rem;
                               margin-left: 0.25rem;
}

$hard-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
$soft-shadow: 2px 4px 0 rgba(0,0,0,0.5);

// navbar ---------------------------------------------


//-- basic layout -------------------------------------------
.Main                                   {margin-left: 0;
                                         margin-right: 0;
    .content                            {padding-left: 0;
                                         padding-right: 0;
                                         overflow-x: hidden;
        .row                            {margin-left: 0;
                                         margin-right: 0;
                                         margin-top: 0;
                                         margin-bottom: 0;
        }
        > div {//position: relative;
                        // left: -100vw;
            h2                             {font-family: $title-fonts;
            }
            &.content-view                 {opacity: 0;
            }
            &.content-view-enter           {opacity: 0;
            }
            &.content-view-enter-done      {opacity: 1;
                                            transition: opacity 200ms;
            }
            &.content-view-exit            {opacity: 1;
            }
            &.content-view-exit-active     {opacity: 0;
                                            transition: opacity 200ms;
            }
        }
    }
}
//-- navbar ---------------------------------------------------

.navbar                 {background-color: #fff !important;
                            box-shadow: $hard-shadow;
                            line-height: 1;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 0;
  a.navbar-brand           {text-transform: uppercase;
                            letter-spacing: 2px;
                            color: $danger;
                            transition: 100ms all linear;
                            font-family: 'Amatic SC', cursive;
                            font-weight: normal;
                            font-size: 3rem;
    &:hover                {color: lighten($danger, 10%);
                            transition: 100ms all linear;
    }
  }
  small                    {display: none;
  }
  a                        {color: #aaa;
  }
  .navbar-toggle span      {background-color: #aaa;
  }
  .navbar-nav              {height: 4rem;
                            line-height: 3rem;
    >span                  {line-height: 4rem;
                            padding-right: 1em;
    }
    >a.nav-link                     {
        &:hover,
        &:active,
        &:focus,
        &.open             {color: $white;
                            background-color: lighten($accent2, 20%);
      }
      .dropdown-menu       {top: -2px;
                            background-color: lighten($accent2, 20%);
                            border: 1px solid lighten($accent2, 10%);
        li                 {
            &.divider {background-color: lighten($accent2, 10%);
                             margin: 0;
                  }
                  a         {color: $white;
                             line-height: 3em;
                             height: 3em;
                             padding-top: 0;
                             padding-bottom: 0;
                      &:hover,
                      &:active    {background-color: lighten($accent2, 10%);
                      }
                  }
              }
          }
      }
      &.welcome-nav         {color: darken($pallette1, 50%);
      }
  }
  .badge-wrapper         {height: 100%;
                          line-height: 100%;
                          float: right;
                          position: relative;
                          display: block;
      #unread-counter    {border-radius: 0;
                          color: $pallette3;
                          height: 100%;
                          line-height: 100%;
                          padding: 19px;
                          background-color: lighten($pallette3, 40%);
                          transition: all .3s ease-in-out;
          &:hover        {background-color: lighten($pallette3, 45%);
                          columns: darken($pallette3, 10%);
                          transition: all .5s ease-in-out;
          }
      }
  }
}

//-- tools --------------------------------------------------

.tools-component           {position: fixed;
                            right: -5.5rem;
                            top: 6rem;
                            z-index: 30;
                            box-shadow: 0 4px 2px rgba(0,0,0,0.3);
                            border-radius: $border-radius 0 0 $border-radius;
    &:hover                {right: 0;
                            transition: all 300ms;
    }
    .btn                   {text-align: left;
                            border-radius: $border-radius 0 0 $border-radius;
                            padding-left: .25rem;
    }
}
.panel-body                {position: absolute;
                            width: 80%;
                            right: 0;
                            top: -1rem;
                            z-index: 20;
                            background-color: $white;
                            box-shadow: 0 4px 2px rgba(0,0,0,0.3);
                            border-radius: $border-radius 0 0 $border-radius;
                            padding: 2rem;

    &.panel-body.enter         {//right: -80%;
                                transform: translate3d(180%, 0, 0);
    }
    &.panel-body.enter-done    {//right: 0;
                                transform: translate3d(0, 0, 0);
                                transition: all 500ms;
    }
    &.panel-body.exit          {//opacity: 1;
                                //right: 0;
                                transform: translate3d(0, 0, 0);
    }
    &.panel-body.exit-done     {//opacity: 0;
                                //right: -80%;
                                transform: translate3d(180%, 0, 0);
                                transition: all 500ms;
    }

    @media (max-width: map-get($grid-breakpoints, md))
                               {width: 100%;
    }
    @media (min-width: map-get($grid-breakpoints, lg))
                               {width: 60%;
    }

    h2                      {color: $heading-color;
    }
}

//-- reference view --------------------------------------------

.referenceview-component               {
    .reference-view-pane               {padding-top: 1rem;

        &.enter                        {opacity:0;
        }
        &.enter-done                   {opacity: 1;
                                        transition: all 500ms;
        }
        &.exit                         {opacity: 1;
        }
        &.exit-done                    {opacity: 0;
                                        transition: all 500ms;
        }

    }

    .case-endings-table,
    .square-of-stops-table,
    .vowel-contractions-tableA,
    .vowel-contractions-tableB             {
        thead tr:first-child th        {color: $heading-color;
                                        font-family: $sans-fonts;
                                        font-size: 1rem;
        }
        thead tr th                    {text-align: center;
                                        border-top: 0;
                                        border-bottom: 0;
        }
        th                             {vertical-align: middle;
                                        border-top: 0;
                                        border-bottom: 0;
        }
        td                             {font-size: 1.5rem;
                                        font-family: "SBL Greek";
                                        text-align: center;
                                        vertical-align: middle;
                                        background-color: $table-background;
                                        border-top: 2px solid white;
                                        border-bottom: 2px solid white;
            &.spacer                   {background-color: $white !important;
            }
        }
    }

    .case-endings-table                 {
        tbody               {
            tr td:nth-child(n+2)       {font-size: 1.5rem;
                                        font-family: "SBL Greek";
                                        text-align: center;
            }
            tr:nth-child(6n + 1)       {color: $nominative;
                td:nth-child(n+2)      {
                    background-color: lighten($nominative, 62%);
                }
            }
            tr:nth-child(6n + 2)       {color: $genitive;
                td:nth-child(n+2)      {
                    background-color: lighten($genitive, 47%);
                }
            }
            tr:nth-child(6n + 3)       {color: $dative;
                td:nth-child(n+2)      {
                    background-color: lighten($dative, 55%);
                }
            }
            tr:nth-child(6n + 4)       {color: $accusative;
                td:nth-child(n+2)      {
                    background-color: lighten($accusative, 60%);
                }
            }
            tr:nth-child(6n + 5)       {color: $vocative;
                td:nth-child(n+2)      {
                    background-color: lighten($vocative, 55%);
                }
            }
        }
    }

    .square-of-stops-table             {
        thead th                       {
            &:nth-child(n+2)           {width: 20%;
                &:nth-child(5)         {width: 10%;
                }
            }
        }
    }

    .vowel-contractions-tableA,
    .vowel-contractions-tableB         {
        thead th                       {
            &:nth-child(n+2)           {width: 28%;
            }
        }
        th                             {font-size: 1.5rem;
                                        font-family: "SBL Greek";
                                        text-align: center;
                                        vertical-align: middle;
                                        color: $accusative;
            &:nth-child(1)            {color: $nominative;
            }
        }
        td                              {font-size: 2rem;
        }
    }

}

//-- masthead --------------------------------------------------

div.masthead                {background-image: url($mapPng);
                             min-height: 360px;
                             margin-top: 0;
                             margin-bottom: 0;
                             padding-bottom: 0;
                             border: 0px solid transparent;
                             overflow: hidden;
                             height: 28rem;
    @media (max-width: map-get($grid-breakpoints, md))
                           {height: 10rem;
    }
    img.welcome-maria      {position: absolute;
                            left:0;
        @media (max-width: map-get($grid-breakpoints, md))
                           {height:36rem;
        }
    }
}

// home----------------------------------------------



div.maria-bubble               {position:absolute;
                                top:5rem;
                                left:360px;
                                box-shadow: $soft-shadow;
                                border-radius: $border-radius-lg;
                                z-index: 10;
                                display: none;
                                overflow-y: hidden;
    &:after {                   border-right: 25px solid #fff;
                                border-top: 25px solid transparent;
                                left: -25px;
                                top: 40%;
                                content: '';
                                position: absolute;
    }
    &:before {
        border-right: 23px solid rgba(0,0,0,0.5);
        border-top: 23px solid transparent;
        left: -23px;
        top: 42%;
        content: '';
        position: absolute;
    }
}
div.maria-bubble,
div.maria-bubble-mobile        {background-color: white;
                                padding:2rem;
                                margin-right: 2rem;
    h1                         {font-family: 'Amatic SC', cursive;
                                font-weight: regular;
                                font-size: 3rem;
                                color: $heading-color;
    }
    button                     {background-color: $pallette4;
                                border: 1px solid $palletteBG;
                                margin-top: 0.5rem;
    }
    p.index-openmessage         {font-size: $font-size-base;
                                color: #888;
    }
}

div.warning.row                {background-color: $danger;
                                color: $warning;
                                padding: 1.25rem 0;
    p                          {text-align: center;
    }
}

div.modal-set.row              {color: #efefef;
                                background-color: $pallette3;
                                text-align: center;
                                padding-top: 3rem;
                                padding-bottom: 3rem;
    @media (max-width: map-get($grid-breakpoints, md))  {padding: 0;
                                         text-align: left;
                                         padding-left: 2rem;
                                         padding-right: 2rem;
    }
    .info-pane                 {
      .info-illustration-wrapper          {//text-align: center;
                                           // width:100%;
          @media (max-width: map-get($grid-breakpoints, md)) {text-align: left;
          }
          .info-pane-illustration {width:12rem;
                                   background-color: rgba(255, 255, 255, 0.3);
                                   border-radius: 50%;
                                   padding: 0.5rem;
                                   // margin: 0px auto;
              @media (max-width: $breakpoint-sm) {float: right;
                                                  width: 3rem;
                                                  padding: 1rem;
              }
          }
          h4 a                                   {color: $white;
                                                  margin-top: 2rem;
                                                  font-size: $font-size-base;
              @media (max-width: $breakpoint-sm) {line-height: 3em;
                                                  height: 3em;
              }
              &:hover                            {text-decoration: dotted;
              }
          }
      }
    }
    p                       {hyphens: auto;
    }
}

// walk interface---------------------------------------

div.content > .walk-container                 {overflow: hidden;
  .map-spinner                                {position: absolute;
                                               top: 50%;
                                               left: 50%;
                                               margin-top: -1rem;
                                               margin-left: -0.5rem;
                                               z-index: 1;
  }
  .svgMapPane                                 {width: 100%;
                                                z-index: 2;
    object#town_map                             {width: 100%;
                                                margin:0 auto;
                                                cursor: move;
                                                //    opacity: 0;
        svg                                       {cursor: move;
        }
    }
    &.svgMapPane-enter,
    &.svgMapPane-appear                          {opacity: 0;
    }
    &.svgMapPane-enter-done,
    &.svgMapPane-appear-done                     {opacity: 1;
                                                transition: opacity 1000ms;
    }
    &.svgMapPane-exit                            {opacity: 1;
    }
    &.svgMapPane-exit-active                       {opacity: 0;
                                                transition: opacity 1000ms;
    }
    &.svgMapPane-exit-done                      {opacity: 0;
                                                 position: absolute;
                                                 top: -3000px;
    }
  }
  .stepPane                                     {position: absolute;
                                                 top: -3000px;
                                                 background-attachment: fixed;
                                                 background-position-x: 0%;
                                                 background-position-y: 50%;
                                                 background-size: cover;
                                                 background-repeat: no-repeat;
                                                 height: 100%;
                                                 padding: 1rem;
                                                 padding-right: 3rem;
                                                 margin: 0;
                                                 margin-right: 0;
                                                 z-index: 2;
    @media (max-width: map-get($grid-breakpoints, sm))
                                                {padding: 0;
                                                 padding-right: 0;
    }
    &.stepPane-enter,
    &.stepPane-appear                             {opacity: 0;
                                                   top: 0;
    }
    &.stepPane-enter-active,
    &.stepPane-appear-active                        {opacity: 1;
                                                transition: opacity 1000ms ease-in;
                                                   top: 0;
    }
    &.stepPane-enter-done,
    &.stepPane-appear-done                        {opacity: 1;
                                                   top: 0;
                                                transition: opacity 1000ms ease-in;
    }
    &.stepPane-exit                              {opacity: 1;
                                                   top: 0;
    }
    &.stepPane-exit-active                       {opacity: 0;
                                                   top: 0;
                                                 transition: opacity 1000ms ease-in;
    }
    &.stepPane-exit-done                         {opacity: 0;
                                                  position: absolute;
                                                  top: -3000px;
    }
    .speaker                                    {
        img                                     {left: -20%;
        }
    }
    .prompt-text,
    .eval-text                                  {border-radius: $border-radius-lg * 3;
                                                 padding: 1rem;
                                                 padding-top: 1rem;
                                                 font-family: $greek-fonts;
                                                 font-size: $font-size-lg;
                                                 box-shadow: $soft-shadow;
                                                 position: relative;
                                                 min-width: 80%;
                                                 transform: scale(0);
                                                 opacity: 0;
        &.eval-text-enter,
        &.prompt-text-enter,
        &.eval-text-appear,
        &.prompt-text-appear                         {transform: scale(0);
                                                      transform-origin: center left;
                                                      opacity: 1;
        }

        &.eval-text-appear-done,
        &.eval-text-enter-done                      {transform: scale(1);
                                                     transition: transform 200ms ease-in;
                                                     transform-origin: center left;
                                                     opacity: 1;
        }
        &.prompt-text-appear-done,
        &.prompt-text-enter-done                    {transform: scale(1);
                                                     transition: transform 200ms ease-in 500ms;
                                                     transform-origin: center left;
                                                     opacity: 1;
        }
        &.eval-text-exit,
        &.prompt-text-exit                          {transform: scale(1) translate(0px, 0px);
                                                     opacity: 1;
        }
        &.eval-text-exit-active,
        &.prompt-text-exit-active                   {transform: scale(0) translate(-200%, -100%);
                                                     transition: transform 200ms ease-out;
                                                     transform-origin: center left;
                                                     opacity: 0;
        }
    }
    .eval-text                                  {background-color: $pallette1;
                                                 left: 1rem;
                                                 z-index: 6;
        &:after {                   border-right: 25px solid $pallette1;
                                    border-top: 25px solid transparent;
                                    left: -25px;
                                    top: 40%;
                                    content: '';
                                    position: absolute;
        }
        &:before {
            border-right: 23px solid rgba(0,0,0,0.5);
            border-top: 23px solid transparent;
            left: -23px;
            top: 42%;
            content: '';
            position: absolute;
        }

    }
    .prompt-text                                {background-color: $white;
        .prompt-image                           {max-height: 10rem;
        }
        .audio-play-control                     {background-color: transparent;
                                                color: #aaa;
                                                position: relative;
                                                padding: 0;
                                                border-color: transparent;
                                                float: right;
            > div                               {height: 2em;
                                                width: 2em;
            }
            .play-circle,
            .pause-circle                       {position: absolute;
                                                 margin: 0;
                                                 margin-left: -1rem;
            }
            .cross-fade-enter                   {opacity: 0;
                &.cross-fade-enter-active       {opacity: 1;
                                                transition: opacity 300ms ease-in;
                }
            }
            .cross-fade-leave                   {opacity: 1;
                &.cross-fade-leave-active       {opacity: 0;
                                                transition: opacity 300ms ease-in;
                }
            }
            .cross-fade-height                  {transition: height 300ms ease-in-out;

            }

        }
        &:after {                   border-right: 25px solid $white;
                                    border-top: 25px solid transparent;
                                    left: -25px;
                                    top: 40%;
                                    content: '';
                                    position: absolute;
        }
        &:before {
            border-right: 23px solid rgba(0,0,0,0.5);
            border-top: 23px solid transparent;
            left: -23px;
            top: 43%;
            content: '';
            position: absolute;
        }

    }
    .responder                                  {
        .responder-text                         {background-color: lighten($accent2, 50%);
                                                 margin-top: 2rem;
                                                 padding: 2rem;
                                                 border-radius: $border-radius-lg * 3;
                                                 box-shadow: $soft-shadow;
            textarea                            {font-family: $greek-fonts;
                                                 font-size: $font-size-lg;
                                                 border: 1px solid lighten($accent2, 25%);
            }
            .instruction-icon                   {color: $accent2;
            }
        }
    }
  }
}
