@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/_mixins.scss";
$mapPng: "../Images/town_map.png";

// layout
// -----------------------------------

$breakpoint-sm: "576px";

// basic colors
// -----------------------------
$red:                   #B10808;
$warning:               #a40000;
$wine:                  #701;
$cranberry:             #852625;
$cinnamon:              #845852;
$cream:                 #F8F0E5;
$tapioca:               #F2E5D4;
$white:                 #fff;
$green:                 #5BA917;
$neutralLight:          #f2eed5;
$putty:                 #d8d3b3;
$greenLight:                 #96BC44;
$greenDark:             #809240;
// $red:                   #9d261d;
$blueDark:              #1c7f99; // #006699;
$blue:                  #049cdb;
$yellow:                #ffc40d;
$orange:                #f89406;

// Applied Pallette (modded)
// -------------------------
$palletteBG: $white;
$pallette1: $neutralLight;
$pallette2: $putty;
$pallette3: $green;
$pallette4: $greenDark;
$accent1: $red;
$accent2: $blueDark;
$accent3: $orange;

$textColor: #333;
$linkColor: $pallette2;
$navbarLinkColor: $pallette2;
$heading-color: #ab8531;  // darken($pallette1, 40%);

// semantic colors (modded)
// -------------------------
$danger-bg: #fcf2f2;
$danger: #dc3545;  // #bd362f; // #a84f4c; // default #dFb5b4;
$info-bg: #f0f7fd; //#d0e3f0;
$info: #5bc0de;
$info-dark: #2f96b4; // #5387B2;
$warning-bg: #fefbed;
$warning: $orange; // #f1e7bc;
$error: $danger;
$success-bg: #dff0d8;
$success: $pallette3;  // #d6e9c6;
$successDark: $pallette4; // #d6e9c6;

// semantic colors (grammatical)
$verb: #BF9000;
$nominative: #235888;
$genitive: #70AD47;
$accusative: #C00000;
$vocative: #C55A11;
$dative: #7030A0;
$preposition: #009999;

$table-background: lighten($nominative, 60%);


//---------------------------------------------------
// typography

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans|Gentium');

// @font-face {
//     font-family: 'Glyphicons Halflings';
//     src: url('../Fonts/glyphicons-halflings-regular.eot');
//     src: url('../Fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/glyphicons-halflings-regular.woff') format('woff'), url('../Fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../Fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'SBLGreekRegular';
    src: url('../Fonts/sbl_grk-webfont.eot');
    src: local('☺'),
    url('../Fonts/sbl_grk-webfont.woff') format('woff'),
    url('../Fonts/sbl_grk-webfont.ttf') format('truetype'),
    url('../Fonts/sbl_grk-webfont.svg#webfontRelj09Wi') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-size-base:               1rem;
$font-size-lg:                 $font-size-base * 1.25;
$font-size-sm:                 $font-size-base * .8;
$sans-fonts:                   "Open Sans", sans-serif;
$greek-fonts:                  Gentium, "SBLGreekRegular", Palatino, "Arial Unicode";
$title-fonts:                  "Amatic SC";

.svg-inline--fa               {margin-right: 0.25rem;
                               margin-left: 0.25rem;
}

$hard-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
$soft-shadow: 2px 4px 0 rgba(0,0,0,0.5);

// mixins --------------------------------------------------

@mixin react-transition-fade($class, $duration: 200) {
    &.#{$class}-enter,
    &.#{$class}-appear          {opacity: 0;
    }
    &.#{$class}-enter-active,
    &.#{$class}-appear-active  {opacity: 1;
                                transition: opacity #{$duration}ms;
    }
    &.#{$class}-enter-done,
    &.#{$class}-appear-done     {opacity: 1;
                                transition: opacity #{$duration}ms;

    }
    &.#{$class}-exit            {opacity: 1;
    }
    &.#{$class}-exit-active     {opacity: 0;
                                 transition: opacity #{$duration}ms;
    }
    &.#{$class}-exit-done       {opacity: 0;
                                 transition: opacity #{$duration}ms;
    }
}

@mixin triangle-bottom($color, $width: 8) {
    &:after                       {content: '';
                                   position: absolute;
                                   top: 100%;
                                   left: 50%;
                                   margin-left: #{$width*-1}px;
                                   width: 0; height: 0;
                                   border-top: $width*1px solid $color;
                                   border-right: $width*1px solid transparent;
                                   border-left: $width*1px solid transparent;
    }
}
@mixin triangle-bottom-shadow($width: 8){
    &:before                      {border-top: $width*1px solid rgba(0,0,0,0.2);
                                   border-right: $width*1px solid transparent;
                                   border-left: $width*1px solid transparent;
                                   left: 50%;
                                   margin-left: #{$width*-1}px;
                                   top: 107%;
                                   content: '';
                                   position: absolute;
    }
}

@mixin neumorphism-shadow() {
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px,
        rgba(255, 255, 255, 1) -2px -2px 8px 2px;
}

// typography ---------------------------------------------

h3                                      {font-family: $sans-fonts;
                                         font-weight: normal;
                                         font-size: $font-size-lg;
                                         color: $heading-color;
}


//-- basic layout -------------------------------------------
.Main                                   {margin-left: 0;
                                         margin-right: 0;
    .content                            {padding-left: 0;
                                         padding-right: 0;
                                         overflow-x: hidden;
                                         display: flex;
        .content-view                   {width: 100%;
        }
        .row                            {margin-left: 0;
                                         margin-right: 0;
                                         margin-top: 0;
                                         margin-bottom: 0;
        }
        > div                           {
            h2                          {font-family: $title-fonts;
                                         color: $heading-color;
            }
            @include react-transition-fade("content-view", 400);
        }
    }
}
//-- navbar ---------------------------------------------------

.navbar                 {background-color: #fff !important;
                            box-shadow: $hard-shadow;
                            line-height: 1;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 0;
                            z-index: 1;
  a.navbar-brand           {text-transform: uppercase;
                            letter-spacing: 2px;
                            color: $danger;
                            transition: 100ms all linear;
                            font-family: 'Amatic SC', cursive;
                            font-weight: normal;
                            font-size: 3rem;
    &:hover                {color: lighten($danger, 10%);
                            transition: 100ms all linear;
    }
  }
  small                    {display: none;
  }
  a                        {color: #aaa;
      &.dropdown-toggle    {
          &:after          {display: none;}
      }
  }
  .navbar-toggle span      {background-color: #aaa;
  }
  .navbar-nav              {height: 4rem;
                            line-height: 3rem;
    >span                  {line-height: 4rem;
                            padding-right: 1em;
    }
    >a.nav-link                     {
        &:hover,
        &:active,
        &:focus,
        &.open             {color: $white;
                            background-color: lighten($accent2, 20%);
      }
      .dropdown-menu       {top: -2px;
                            background-color: lighten($accent2, 20%);
                            border: 1px solid lighten($accent2, 10%);
        li                 {
            &.divider {background-color: lighten($accent2, 10%);
                             margin: 0;
                  }
                  a         {color: $white;
                             line-height: 3em;
                             height: 3em;
                             padding-top: 0;
                             padding-bottom: 0;
                      &:hover,
                      &:active    {background-color: lighten($accent2, 10%);
                      }
                  }
              }
          }
      }
      &.welcome-nav         {color: darken($pallette1, 50%);
      }
  }
  .badge-wrapper         {height: 100%;
                          line-height: 100%;
                          float: right;
                          position: relative;
                          display: block;
      #unread-counter    {border-radius: 0;
                          color: $pallette3;
                          height: 100%;
                          line-height: 100%;
                          padding: 19px;
                          background-color: lighten($pallette3, 40%);
                          transition: all .3s ease-in-out;
          &:hover        {background-color: lighten($pallette3, 45%);
                          columns: darken($pallette3, 10%);
                          transition: all .5s ease-in-out;
          }
      }
  }
}

//-- tools --------------------------------------------------

.tools-component           {position: fixed;
                            right: -5.5rem;
                            top: 5rem;
                            z-index: 30;
                            box-shadow: 0 4px 2px rgba(0,0,0,0.3);
                            border-radius: $border-radius 0 0 $border-radius;
    &:hover                {right: 0;
                            transition: all 300ms;
    }
    .btn                   {text-align: left;
                            border-radius: $border-radius 0 0 $border-radius;
                            padding-left: .25rem;
    }
}

.panel-body                {position: fixed;
                            width: 80vw;
                            height: 100%;
                            right: 0;
                            top: -1rem;
                            z-index: 20;
                            background-color: $white;
                            box-shadow: 0 4px 2px rgba(0,0,0,0.3);
                            border-radius: $border-radius 0 0 $border-radius;
                            padding: 2rem;
                            padding-right: 0;

    &.panel-body-enter,
    &.panel-body-appear        {//right: -80%;
                                transform: translate3d(180vw, 0, 0);
    }
    &.panel-body-enter-done,
    &.panel-body-appear-done   {//right: 0;
                                transform: translate3d(0, 0, 0);
                                transition: all 500ms;
    }
    &.panel-body-exit          {//opacity: 1;
                                //right: 0;
                                transform: translate3d(0, 0, 0);
    }
    &.panel-body-exit-done,
    &.panel-body-exit-active   {//opacity: 0;
                                //right: -80%;
                                transform: translate3d(180vw, 0, 0);
                                transition: all 500ms;
    }

    @media (max-width: map-get($grid-breakpoints, md))
                               {width: 100vw;
    }
    @media (min-width: map-get($grid-breakpoints, lg))
                               {width: 60vw;
    }

}

//-- vocab view -----------------------------------------------
.vocabview-component                   {height: 100%;
    > .col                             {display: flex;
                                        flex-direction: column;
                                        height: 100%;
                                        padding: 0;
        .vocabtable-container          {flex: 1;
                                        overflow-y: auto;
                                        overflow-x: hidden;
                                        position: relative;
            .vocabtable-loading-spinner     {position: absolute;
                                             top: 50%;
                                             margin-top: -0.5rem;
                                             left: 50%;
                                             margin-left: -0.5rem;
            }
            table                          {position: absolute;
                th                         {position: sticky;
                                            top: 0;
                                            background-color: lighten($pallette2, 20%);
                                            border-top-color: lighten($pallette2, 15%);
                                            border-bottom-color: lighten($pallette2, 15%);
                                            color: darken($pallette1, 60%);
                                            font-weight: normal;
                    &:first-child          {left: 0;
                                            z-index: 10;
                                            background-color: lighten($pallette2, 10%);
                                            color: darken($pallette1, 65%);
                    }
                    &:nth-child(2)         {background-color: lighten($pallette2, 15%);
                                            padding-right: 0;
                    }
                    a                      {color: darken($pallette1, 60%);
                    }
                    svg                    {position: absolute;
                                            left: 0;
                                            margin-left: 0;
                                            margin-top: -0.45rem;
                                            top: 50%;
                        &.inactive         {opacity: 30%;
                        }
                    }
                }
                td                         {border-top-color: lighten($pallette2, 10%);
                                            background-color: #fff;
                                            vertical-align: middle;
                    &.noun,
                    &.pronoun,
                    &.proper_noun          {background-color: lighten($nominative, 60%);
                                            color: $nominative;
                                            border-top-color: lighten($nominative, 55%);
                    }
                    &.adjective            {background-color: lighten($nominative, 62%);
                                            color: lighten($nominative, 10%);
                                            border-top-color: lighten($nominative, 57%);
                    }
                    &.verb                 {background-color: lighten($verb, 50%);
                                            color: darken($verb, 10%);
                                            border-top-color: lighten($verb, 40%);
                    }
                    &.preposition          {background-color: lighten($preposition, 65%);
                                            color: darken($preposition, 10%);
                                            border-top-color: lighten($preposition, 55%);
                    }
                    &.adverb               {background-color: lighten($dative, 55%);
                                            color: darken($dative, 10%);
                                            border-top-color: lighten($dative, 50%);
                    }
                    &.conjunction          {background-color: lighten($textColor, 70%);
                                            color: $textColor;
                                            border-top-color: lighten($textColor, 65%);
                    }
                    &.particle             {background-color: lighten($textColor, 73%);
                                            color: darken($textColor, 10%);
                                            border-top-color: lighten($textColor, 63%);
                    }
                    &:first-child             {position: sticky;
                                            left: 0;
                                            font-family: $greek-fonts;
                                            font-size: 1.5rem;
                    }
                    &:nth-child(2)          {padding-right: 0;
                    }
                }
            }
        }
        .vocabview-footer               {display: flex;
                                         flex-direction: row;
            .updating,
            .displaycount                   {font-size: $font-size-sm;
                                             margin-bottom: -1.5rem;
                                             padding-top: 0.25rem;
            }
            .updating                       {flex-grow: 1;
                .spinner-grow               {font-size: 0.5rem;
                }
            }
            .displaycount                   {padding-right: 1rem;
            }
        }
    }
}


//-- settings view ---------------------------------------------

.settingsview-component                 {display: flex;
                                         flex-direction: column;
                                         height: 100%;
    > div                               {flex: 1;
                                         overflow-y: auto;
                                         padding-left: 0;
                                         padding-right: 3rem;

        .alert                          {display: flex;
                                         flex-direction: row;
                                         align-items: center;
                                         padding-left: 0.75rem;
                                         padding-right: 1rem;
            svg                         {margin-right: 0.75rem;
            }
        }
    }
}

//-- queries view ---------------------------------------------

.queriesview-component                 {display: flex;
                                        flex-direction: column;
                                        height: 100%;
    > div                              {flex: 1;
                                        overflow-y: auto;
    }
    .queries-view-changer          {border-radius: 0.25rem 0.25rem 0 0;
                                    background-color: lighten($pallette1, 10%);
                                    border-color: $pallette1;
        &.in                       {background-color: $pallette1;
                                    border-color: darken($pallette1, 5%);
            &:hover                {background-color: darken($pallette1, 20%);
            }
        }
        &:hover                    {background-color: darken($pallette1, 20%);
        }
        .badge                     {margin-left: 0.5rem;
        }
    }
    .queries-view-pane                  {opacity: 0;
                                         border-top: 1px solid $pallette2;
        @include react-transition-fade('queries-view-pane');
        td                           {border-top: 0;
                                      padding: 0;
        }
        .query-display-op            {width: 30%;
                                      float: left;
                                      padding-top: 0.5rem;
                                      padding-left: 1rem;
            .query-display-op-name       {color: darken($pallette1, 60%);
            }
            svg                          {margin-top: 0.25rem;
            }
            .query-display-op-date       {font-size: $font-size-base * 0.75;
            }
            .query-display-op-status     {font-size: $font-size-base * 0.75;
            }
        }
        .query-display-response     {padding: 1rem;
                                     padding-left: 30%;
                                     padding-bottom: 0.5rem;
                                        font-size: $font-size-lg;
                                        font-family: $greek-fonts;
                                        background-color: lighten($pallette2, 20%);
                                        border-top: 4px solid $pallette2;
        }
        .query-display-op-question   {background-color: lighten($accent2, 60%);
                                        color: darken($accent2, 5%);
                                        margin-left: 30%;
                                        border-radius: 0.75rem;
                                        padding: 1rem;
                                        padding-bottom: .5rem;
                                        position: relative;
                                        margin-top: -2rem;
            &:after                    {border-right: 25px solid lighten($accent2, 60%);
                                        border-bottom: 25px solid transparent;
                                        left: -25px;
                                        top: 40%;
                                        content: '';
                                        position: absolute;
            }
        }
        .query-display-admin            {float: right;
                                         width: 30%;
                                         padding-bottom: 0;
            .query-display-admin-name       {color: darken($pallette1, 50%);
            }
            .query-display-admin-date       {font-size: $font-size-base * 0.75;
            }
            .query-display-admin-status     {font-size: $font-size-base * 0.75;
            }
        }
        .query-display-admin-comment     {background-color: lighten($pallette3, 45%);
                                          color: darken($pallette3, 20%);
                                        position: relative;
                                        margin-right: 36%;
                                        margin-left: 1rem;
                                        border-radius: 1rem;
                                        padding: 1rem;
                                        margin-top: -1.5rem;

            &:after                    {border-left: 25px solid lighten($pallette3, 40%);
                                        border-bottom: 25px solid transparent;
                                        right: -25px;
                                        top: 40%;
                                        content: '';
                                        position: absolute;
            }
        }
        .query-display-class-header     {color: $danger;
        }
    }
}

//-- reference view --------------------------------------------

.referenceview-component               {height: 100%;
    > .col                             {display: flex;
                                        flex-direction: column;
                                        height: 100%;
                                        padding: 0;
        h2,
        form                           {padding-right: 2rem;
        }
        .reference-view-panes          {overflow-y: auto;
                                        flex: 1;
        }
    }
    .reference-view-pane               {padding-top: 1rem;
                                        padding-right: 2rem;
        @include react-transition-fade('reference-view-pane');
    }

    .case-endings-table,
    .square-of-stops-table,
    .vowel-contractions-tableA,
    .vowel-contractions-tableB             {
        thead tr:first-child th        {color: $heading-color;
                                        font-family: $sans-fonts;
                                        font-size: 1rem;
        }
        thead tr th                    {text-align: center;
                                        border-top: 0;
                                        border-bottom: 0;
        }
        th                             {vertical-align: middle;
                                        border-top: 0;
                                        border-bottom: 0;
        }
        td                             {font-size: 1.5rem;
                                        font-family: "SBL Greek";
                                        text-align: center;
                                        vertical-align: middle;
                                        background-color: $table-background;
                                        border-top: 2px solid white;
                                        border-bottom: 2px solid white;
            &.spacer                   {background-color: $white !important;
            }
        }
    }

    .case-endings-table                 {
        tbody               {
            tr td:nth-child(n+2)       {font-size: 1.5rem;
                                        font-family: "SBL Greek";
                                        text-align: center;
            }
            tr:nth-child(6n + 1)       {color: $nominative;
                td:nth-child(n+2)      {
                    background-color: lighten($nominative, 62%);
                }
            }
            tr:nth-child(6n + 2)       {color: $genitive;
                td:nth-child(n+2)      {
                    background-color: lighten($genitive, 47%);
                }
            }
            tr:nth-child(6n + 3)       {color: $dative;
                td:nth-child(n+2)      {
                    background-color: lighten($dative, 55%);
                }
            }
            tr:nth-child(6n + 4)       {color: $accusative;
                td:nth-child(n+2)      {
                    background-color: lighten($accusative, 60%);
                }
            }
            tr:nth-child(6n + 5)       {color: $vocative;
                td:nth-child(n+2)      {
                    background-color: lighten($vocative, 55%);
                }
            }
        }
    }

    .square-of-stops-table             {
        thead th                       {
            &:nth-child(n+2)           {width: 20%;
                &:nth-child(5)         {width: 10%;
                }
            }
        }
    }

    .vowel-contractions-tableA,
    .vowel-contractions-tableB         {
        thead th                       {
            &:nth-child(n+2)           {width: 28%;
            }
        }
        th                             {font-size: 1.5rem;
                                        font-family: "SBL Greek";
                                        text-align: center;
                                        vertical-align: middle;
                                        color: $accusative;
            &:nth-child(1)            {color: $nominative;
            }
        }
        td                              {font-size: 2rem;
        }
    }

}


// content-view pages -----------------------------------

.content-view                   {padding-top: 1rem;
    .content-page-component     {
        @include react-transition-fade("content-page-component", 400);
    }
}

// --home -----------------------------------------------------

.home-component    {padding-top: 0;

//-- masthead --------------------------------------------------

    div.masthead                {background-image: url($mapPng);
                                min-height: 360px;
                                margin-top: 0;
                                margin-bottom: 0;
                                padding-bottom: 0;
                                border: 0px solid transparent;
                                overflow: hidden;
                                height: 28rem;
        @media (max-width: map-get($grid-breakpoints, md))
                            {height: 10rem;
        }
        img.welcome-maria      {position: absolute;
                                left:0;
            @media (max-width: map-get($grid-breakpoints, md))
                            {height:36rem;
            }
        }
    }

// home----------------------------------------------

    div.maria-bubble               {position:absolute;
                                    top:5rem;
                                    left:360px;
                                    box-shadow: $soft-shadow;
                                    border-radius: $border-radius-lg;
                                    z-index: 10;
                                    display: none;
                                    overflow-y: hidden;
        &:after {                   border-right: 25px solid #fff;
                                    border-top: 25px solid transparent;
                                    left: -25px;
                                    top: 40%;
                                    content: '';
                                    position: absolute;
        }
        &:before {
            border-right: 23px solid rgba(0,0,0,0.5);
            border-top: 23px solid transparent;
            left: -23px;
            top: 42%;
            content: '';
            position: absolute;
        }
    }
    div.maria-bubble,
    div.maria-bubble-mobile        {background-color: white;
                                    padding:2rem;
                                    margin-right: 2rem;
        h1                         {font-family: 'Amatic SC', cursive;
                                    font-weight: regular;
                                    font-size: 3rem;
                                    color: $heading-color;
        }
        button                     {background-color: $green;
                                    border: 1px solid $palletteBG;
                                    margin-top: 0.5rem;
        }
        p.index-openmessage         {font-size: $font-size-base;
                                    color: #888;
        }
    }

    div.warning.row                {background-color: $danger;
                                    color: $warning;
                                    padding: 1.25rem 0;
        p                          {text-align: center;
        }
    }

    div.modal-set.row              {color: #efefef;
                                    background-color: $pallette3;
                                    text-align: center;
                                    padding-top: 3rem;
                                    padding-bottom: 3rem;
        @media (max-width: map-get($grid-breakpoints, md))  {padding: 0;
                                            text-align: left;
                                            padding-left: 2rem;
                                            padding-right: 2rem;
        }
        .info-pane                 {
        .info-illustration-wrapper          {//text-align: center;
                                            // width:100%;
            @media (max-width: map-get($grid-breakpoints, md)) {text-align: left;
            }
            .info-pane-illustration {width:12rem;
                                    background-color: rgba(255, 255, 255, 0.3);
                                    border-radius: 50%;
                                    padding: 0.5rem;
                                    // margin: 0px auto;
                @media (max-width: $breakpoint-sm) {float: right;
                                                    width: 3rem;
                                                    padding: 1rem;
                }
            }
            h4 a                                   {color: $white;
                                                    margin-top: 2rem;
                                                    font-size: $font-size-base;
                @media (max-width: $breakpoint-sm) {line-height: 3em;
                                                    height: 3em;
                }
                &:hover                            {text-decoration: dotted;
                }
            }
        }
        }
        p                       {hyphens: auto;
        }
    }
}


// profile interface------------------------------------

.profile-component               {background-color: $cream;
                                  align-content: start;
    h3                           {font-family: $title-fonts;
                                  color: $heading-color;
                                  font-size: 2rem;
                                  margin-top: 1rem;
    }
    .update-msg,
    .updated-msg                 {position: relative;
                                  top: -1rem;
                                  font-size: $font-size-sm;
                                  color: $pallette3;
    }
    .update-msg                  {color: $warning;
        svg                      {color: $warning;
        }
    }
    .profile-info                {flex-grow: 0;
        >svg                    {float: left;
                                  font-size: 7rem;
                                  color: #e2d2af;
                                  margin-top: .75rem;
        }
        .profile-name            {font-size: 3rem;
                                  font-family: $title-fonts;
        }
        .profile-email           {color: $accent2;
        }
        .profile-timezone        {color: $heading-color;
                                  display: block;
        }
    }
    .profile-calendar            {
      .calendar                  {border-radius: 0.25rem;
                                  border: 1px solid $pallette1;
                                  background-color: $white;
                                  margin-right: 4rem;
        .month-indicator         {text-align: center;
                                  font-size: $font-size-lg;
                                  line-height: 3rem;
                                  color: $accent2;
            a                    {cursor: pointer;
                                  margin: 0 2rem;
                                  color: $pallette2;
            }
        }
        .day-of-week,
        .date-grid               {display: grid;
                                  grid-template-columns: repeat(7, 1fr);
        }
        .day-of-week             {text-align: center;
                                  color: $pallette2;
                                  position: relative;
            .summary             {position: absolute;
                                  right: -2.5rem;
            }
        }
        .date-grid               {position: relative;
            div               {border: 1px solid $pallette1;
                                      border-right: 0;
                                      border-bottom: 0;
                                      min-height: 2rem;
                                      text-align: center;
                                      position: relative;
                                      color: $danger;
            &.success                {color: $green;
            }
            &.summary                {position: absolute;
                                      right: -2.5rem;
                                      font-size: $font-size-lg;
                                      line-height: 1.5rem;
                                      text-align: center;
                &.row1               {top: 2rem;
                }
                &.row2               {top: 4rem;
                }
                &.row3               {top: 6rem;
                }
                &.row4               {top: 8rem;
                }
            }
            .datenum             {color: $pallette2;
                                  font-size: $font-size-sm;
                                  position: absolute;
                                  left: 0.25rem;
            }
            .countnum            {font-size: $font-size-lg;
            }
            &.current             {
                .datenum         {color: $heading-color;
                }
            }
          }
        }
        @include neumorphism-shadow();
      }
    }
    .profile-progress            {margin-top: 1rem;
        .profile-progress-scale-container {width: 100%;
                                           border-radius: 0.25rem;
                                           position: relative;
                                           border: 1px solid $pallette1;
                                           @include neumorphism-shadow();
            .profile-progress-scale,
            .profile-progress-bar         {width: 100%;
                                           height: 3rem;
                                           display: flex;
                                           flex-direction: row;
                                           border-radius: 0.25rem;
                .profile-progress-unit    {border-right: 1px solid $pallette1;
                                           flex-basis: 5%;
                                           flex-grow: 1;
                                           height: 3rem;
                                           text-align: center;
                                           line-height: 3rem;
                    .current-set          {position: absolute;
                                           top: -4rem;
                                           display: flex;
                                           flex-direction: row;
                                           background: $accent2;
                                           color: $white;
                                           padding: 0.25rem .75rem;
                                           border-radius: 0.25rem;
                                           box-shadow: $hard-shadow;
                                           transform: translate(-50%, 0);
                                           margin-left: 2.5%;
                                           @include triangle-bottom($accent2);
                                           @include triangle-bottom-shadow();
                        .current-set-number     {font-size: 2rem;
                        }
                        .current-set-intro      {font-size: 0.75rem;
                                                 max-width: 4rem;
                                                 line-height: 1rem;
                                                 text-align: left;
                        }
                    }
                }
            }
            .profile-progress-scale       {position: absolute;
                                           background-color: $white;
                                           color: darken($pallette2, 20%);
            }
            .profile-progress-bar         {background: linear-gradient($greenLight, $green);
                                           transition: all 500ms ease-out;
                &.badge-set-20                 {clip-path: inset(0 0 0 0);}
                &.badge-set-19                 {clip-path: inset(0 5% 0 0);}
                &.badge-set-18                 {clip-path: inset(0 10% 0 0);}
                &.badge-set-17                 {clip-path: inset(0 15% 0 0);}
                &.badge-set-16                 {clip-path: inset(0 20% 0 0);}
                &.badge-set-15                 {clip-path: inset(0 25% 0 0);}
                &.badge-set-14                 {clip-path: inset(0 30% 0 0);}
                &.badge-set-13                 {clip-path: inset(0 35% 0 0);}
                &.badge-set-12                 {clip-path: inset(0 40% 0 0);}
                &.badge-set-11                 {clip-path: inset(0 55% 0 0);}
                &.badge-set-10                 {clip-path: inset(0 50% 0 0);}
                &.badge-set-9                  {clip-path: inset(0 55% 0 0);}
                &.badge-set-8                  {clip-path: inset(0 60% 0 0);}
                &.badge-set-7                  {clip-path: inset(0 65% 0 0);}
                &.badge-set-6                  {clip-path: inset(0 70% 0 0);}
                &.badge-set-5                  {clip-path: inset(0 75% 0 0);}
                &.badge-set-4                  {clip-path: inset(0 80% 0 0);}
                &.badge-set-3                  {clip-path: inset(0 85% 0 0);}
                &.badge-set-2                  {clip-path: inset(0 90% 0 0);}
                &.badge-set-1                  {clip-path: inset(0 95% 0 0);}
                .profile-progress-unit    {color: $white;
                }
            }
        }
    }
    .profile-stages                         {margin-top: 1rem;
        .nav-tabs                           {border-bottom: 1px solid $pallette1;
            .nav-link                           {color: $heading-color;
                &.active                        {@include neumorphism-shadow();
                                                position: relative;
                                                border-color: $pallette1 $pallette1 $white $pallette1;
                    &:after                     {position: absolute;
                                                width: 100%;
                                                content: "";
                                                box-shadow: 8px 3px 0 0 $white;
                                                z-index: 9;
                                                height: 0.5rem;
                                                background-color: $white;
                                                left: 0;
                                                top: 2.4rem;
                    }
                }
                .badge                          {color: $white;
                                                 line-height: 1rem;
                                                 width: 1.5rem;
                                                 border-radius: 1.5rem;
                }
            }
        }
        #profile-stages-tabs-tab-level1     {
            .badge                          {background-color: $pallette3;
                                             color: $white;
            }
        }
        #profile-stages-tabs-tab-level2     {
            .badge                          {background-color: $accent2;
                                            color: $white;
            }
        }
        #profile-stages-tabs-tab-level3     {
            .badge                          {background-color: $accent3;
                                             color: $white;
            }
        }
        #profile-stages-tabs-tab-level4     {
            .badge                          {background-color: $pallette4;
                                             color: $white;
            }
        }
        .tab-content                        {background-color: $white;
                                             border: 1px solid $pallette1;
                                             padding: 0.5rem;
                                             @include neumorphism-shadow();
            .badge                          {padding: 0.5rem;
                                             font-weight: normal;
                                             margin-right: 0.5rem;
                                             margin-bottom: 0.5rem;
            }
            #profile-stages-tabs-tabpanel-level1 .badge {


            }
        }
    }
}


// lessons interface------------------------------------

.videos-component               {flex-grow: 1;
                                               flex-direction: column;
    .col                                      {overflow: hidden;
                                               display: flex;
                                               flex-direction: column;
                                               padding-right: 0;
                                               padding-left: 0;
        h2                                    {flex-basis: 2rem;
                                               flex-grow: 0;
                                               padding-left: 2rem;
        }
        .lessons-display-container            {overflow: hidden;
            .lessonlist                       {overflow: auto;
                                               max-height: 100%;
                                               padding-left: 0;
                                               padding-right: 0;
                .card                         {border-radius: 0;
                    .card-header              {padding-top: 0;
                                               padding-bottom: 0;
                                               background-color: $table-background;
                                               border-color: darken($table-background, 10%);
                        .btn                  {text-align: left;
                                               padding-left: 0;
                                               padding-right: 0;
                            .lessonLink-grammar   {font-size: $font-size-sm;
                            }
                            .lessonLink-vocab   {font-size: $font-size-sm;
                        }
                        }
                    }
                    .card-body                {padding: 0;
                        .list-group.item      {border-right: 0;
                                               border-left: 0;
                                               border-radius: 0;
                        }
                    }
                }
            }
            .video-display                    {padding-right: 0;
                                               padding-left: 0;
                .video-mask                   {
                    @include react-transition-fade("video-mask");
                }
                .youtube-container            {overflow: hidden;
                                               position: relative;
                                               width: 100%;
                    @include react-transition-fade("youtube-container");
                    &::after                  {padding-top: 56.25%;
                                               display: block;
                                               content: "";
                    }
                    iframe                    {position: absolute;
                                               top: 0;
                                               left: 0;
                                               width: 100%;
                                               height: 100%;
                    }
                }
            }
        }
    }
}

// walk interface---------------------------------------

.walk-container                 {overflow: hidden;
                                               width: 100%;
  .map-spinner                                {position: absolute;
                                               top: 50%;
                                               left: 50%;
                                               margin-top: -1rem;
                                               margin-left: -0.5rem;
                                               z-index: 1;
  }
  .svgMapPane                                 {width: 100%;
                                                z-index: 2;
    object#town_map                             {width: 100%;
                                                margin:0 auto;
                                                cursor: move;
                                                //    opacity: 0;
        svg                                       {cursor: move;
        }
    }
    &.svgMapPane-enter,
    &.svgMapPane-appear                          {opacity: 0;
    }
    &.svgMapPane-enter-done,
    &.svgMapPane-appear-done                     {opacity: 1;
                                                transition: opacity 1000ms;
    }
    &.svgMapPane-exit                            {opacity: 1;
    }
    &.svgMapPane-exit-active                       {opacity: 0;
                                                transition: opacity 1000ms;
    }
    &.svgMapPane-exit-done                      {opacity: 0;
                                                 position: absolute;
                                                 top: -3000px;
    }
  }
  .stepPane                                     {position: absolute;
                                                 top: -3000px;
                                                 background-attachment: fixed;
                                                 background-position-x: 0%;
                                                 background-position-y: 50%;
                                                 background-size: cover;
                                                 background-repeat: no-repeat;
                                                 height: 100%;
                                                 padding: 1rem;
                                                 padding-right: 3rem;
                                                 margin: 0;
                                                 margin-right: 0;
                                                 z-index: 2;
    @media (max-width: map-get($grid-breakpoints, sm))
                                                {padding: 0;
                                                 padding-right: 0;
    }
    &.stepPane-enter,
    &.stepPane-appear                             {opacity: 0;
                                                   top: 0;
    }
    &.stepPane-enter-active,
    &.stepPane-appear-active                        {opacity: 1;
                                                transition: opacity 1000ms ease-in;
                                                   top: 0;
    }
    &.stepPane-enter-done,
    &.stepPane-appear-done                        {opacity: 1;
                                                   top: 0;
                                                transition: opacity 1000ms ease-in;
    }
    &.stepPane-exit                              {opacity: 1;
                                                   top: 0;
    }
    &.stepPane-exit-active                       {opacity: 0;
                                                   top: 0;
                                                 transition: opacity 1000ms ease-in;
    }
    &.stepPane-exit-done                         {opacity: 0;
                                                  position: absolute;
                                                  top: -3000px;
    }
    .speaker                                    {
        img                                     {left: -20%;
        }
    }
    .prompt-text,
    .eval-text                                  {border-radius: $border-radius-lg * 3;
                                                 padding: 1rem;
                                                 padding-top: 1rem;
                                                 font-family: $greek-fonts;
                                                 font-size: $font-size-lg;
                                                 box-shadow: $soft-shadow;
                                                 position: relative;
                                                 min-width: 80%;
                                                 transform: scale(0);
                                                 opacity: 0;
        &.eval-text-enter,
        &.prompt-text-enter,
        &.eval-text-appear,
        &.prompt-text-appear                         {transform: scale(0);
                                                      transform-origin: center left;
                                                      opacity: 1;
        }

        &.eval-text-appear-done,
        &.eval-text-enter-done                      {transform: scale(1);
                                                     transition: transform 200ms ease-in;
                                                     transform-origin: center left;
                                                     opacity: 1;
        }
        &.prompt-text-appear-done,
        &.prompt-text-enter-done                    {transform: scale(1);
                                                     transition: transform 200ms ease-in 500ms;
                                                     transform-origin: center left;
                                                     opacity: 1;
        }
        &.eval-text-exit,
        &.prompt-text-exit                          {transform: scale(1) translate(0px, 0px);
                                                     opacity: 1;
        }
        &.eval-text-exit-active,
        &.prompt-text-exit-active                   {transform: scale(0) translate(-200%, -100%);
                                                     transition: transform 200ms ease-out;
                                                     transform-origin: center left;
                                                     opacity: 0;
        }
    }
    .eval-text                                  {background-color: $pallette1;
                                                 left: 1rem;
                                                 z-index: 6;
        &:after {                   border-right: 25px solid $pallette1;
                                    border-top: 25px solid transparent;
                                    left: -25px;
                                    top: 40%;
                                    content: '';
                                    position: absolute;
        }
        &:before {
            border-right: 23px solid rgba(0,0,0,0.5);
            border-top: 23px solid transparent;
            left: -23px;
            top: 42%;
            content: '';
            position: absolute;
        }

    }
    .prompt-text                                {background-color: $white;
        .prompt-image                           {max-height: 10rem;
        }
        .audio-play-control                     {background-color: transparent;
                                                color: #aaa;
                                                position: relative;
                                                padding: 0;
                                                border-color: transparent;
                                                float: right;
            > div                               {height: 2em;
                                                width: 2em;
            }
            .play-circle,
            .pause-circle                       {position: absolute;
                                                 margin: 0;
                                                 margin-left: -1rem;
            }
            .cross-fade-enter                   {opacity: 0;
                &.cross-fade-enter-active       {opacity: 1;
                                                transition: opacity 300ms ease-in;
                }
            }
            .cross-fade-leave                   {opacity: 1;
                &.cross-fade-leave-active       {opacity: 0;
                                                transition: opacity 300ms ease-in;
                }
            }
            .cross-fade-height                  {transition: height 300ms ease-in-out;

            }

        }
        &:after {                   border-right: 25px solid $white;
                                    border-top: 25px solid transparent;
                                    left: -25px;
                                    top: 40%;
                                    content: '';
                                    position: absolute;
        }
        &:before {
            border-right: 23px solid rgba(0,0,0,0.5);
            border-top: 23px solid transparent;
            left: -23px;
            top: 43%;
            content: '';
            position: absolute;
        }

    }
    .responder                                  {
        .responder-text                         {background-color: lighten($accent2, 50%);
                                                 margin-top: 2rem;
                                                 padding: 1rem;
                                                 border-radius: $border-radius-lg * 3;
                                                 box-shadow: $soft-shadow;
            textarea                            {font-family: $greek-fonts;
                                                 font-size: $font-size-lg;
                                                 border: 1px solid lighten($accent2, 25%);
                                                 margin-bottom: 0.5rem;
            }
            .form-check                         {font-family: $greek-fonts;
                                                 font-size: $font-size-lg;
                &:last-of-type                  {margin-bottom: 0.5rem;
                }
            }
            .instruction-icon                   {color: $accent2;
                                                 display: inline-block;
                                                 margin-bottom: 0.5rem;
                &:first-of-type                 {
                    svg                         {margin-left: 0;
                    }
                }
            }
            .btn                                {margin-left: 0.5rem;
                                                 margin-bottom: 0.5rem;
                &.back_to_map                   {margin-left: 0;
                }
            }
            .admin-info                         {color: $accent2;
                                                 font-size: $font-size-sm;
                                                 display: block;
            }
            .user-info                          {color: $accent2;
                                                 font-size: $font-size-sm;
                                                 display: block;
                                                 margin-bottom: -0.5rem;
            }
            .new-indicator                      {position: absolute;
                                                 right: 1.25rem;
                                                 font-size: 2rem;
                                                 bottom: 0.25rem;
                .fa-history                     {color: lighten($accent2, 60%);
                }
                .fa-leaf                        {color: $green;
                }
            }
        }
    }
  }
}
